/*
-----------------------------------------------
Typesetting for World Swing Deejays
Author:   Claudio Bernardes
Date:     20 Apr 2017
http://modularscale.com/scale/?px1=18&px2=190&ra1=1.618
1em @ 1:1.2 (minor third)
http://alistapart.com/articles/more-meaningful-typography/
-----------------------------------------------
*/
:root {
  /* http://www.modularscale.com/?1&em&1.2 */
  --font-size-1: 1em;
  --font-size-2: 1.2em;
  --font-size-3: 1.44em;
  --font-size-4: 1.728em;
  --font-size-5: 2.074em;
  --font-size-6: 2.488em;
}
@media screen and (min-width: 768px) {
  :root {
    /* http://www.modularscale.com/?1&em&1.333 */
    --font-size-1: 1em;     
    --font-size-2: 1.33em; 
    --font-size-3: 1.769em;
    --font-size-4: 2.353em; 
    --font-size-5: 3.129em;
    --font-size-6: 4.162em;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
.h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small,
h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small,
.h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 small, .h1 small,
h2 small, .h2 small,
h3 small, .h3 small,
h1 .small, .h1 .small,
h2 .small, .h2 .small,
h3 .small, .h3 .small {
  font-size: 65%;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 small, .h4 small,
h5 small, .h5 small,
h6 small, .h6 small,
h4 .small, .h4 .small,
h5 .small, .h5 .small,
h6 .small, .h6 .small {
  font-size: 75%;
}

h1, .h1 { font-size: var(--font-size-6); }
h2, .h2 { font-size: var(--font-size-5); }
h3, .h3 { font-size: var(--font-size-4); }
h4, .h4 { font-size: var(--font-size-3); }
h5, .h5 { font-size: var(--font-size-2); }
h6, .h6 { font-size: var(--font-size-1); }

small, .small {
  font-size: 85%;
}

p { margin: 0 0 10px; }

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
}

.text-center {
  text-align: center;
}
.text-muted {
  color: #777777;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
.img-circle {
  border-radius: 50%;
}

.push-right {
  float: right;
}