.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-lg-3, .col-md-4, .col-sm-6, .col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-12 {
  float: left;
  width: 100%;
}

@media (min-width: 768px) {
  .col-sm-6 {
    float: left;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .col-md-4 {
    float: left;
    width: 33.33333333%;
  }
}
@media (min-width: 1200px) {
  .col-lg-3 {
    float: left;
    width: 25%;
  }
}

.container:before,
.container:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.container:after,
.row:after {
  clear: both;
}
