/****************************
donut
****************************/

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.donut {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: hsl(45, 100%, 51.4%);
  border-left-color: var(--accent-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: donut-spin 1.2s linear infinite;
  background-color: hsl(240, 20%, 98%);
  background-color: var(--bg-color);
}

/****************************
throbber-loader
****************************/

@keyframes throbber-loader {
  0% {
    background: hsl(210, 17%, 89%);
  }
  10% {
    background: hsl(208, 46%, 60%);
  }
  40% {
    background: hsl(210, 17%, 89%);
  }
}

/* :not(:required) hides these rules from IE9 and below */

.throbber-loader {
  animation: throbber-loader 1000ms 300ms infinite ease-out;
  background: #dde2e7;
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  width: 0.9em;
  height: 1.5em;
  margin: 0 1.6em;
}

.throbber-loader:before,
.throbber-loader:after {
  background: #dde2e7;
  content: '\x200B';
  display: inline-block;
  width: 0.9em;
  height: 1.5em;
  position: absolute;
  top: 0;
}

.throbber-loader:before {
  animation: throbber-loader 1000ms 150ms infinite ease-out;
  left: -1.6em;
}

.throbber-loader:after {
  animation: throbber-loader 1000ms 450ms infinite ease-out;
  right: -1.6em;
}