#comments-container:-moz-only-whitespace {
  display: none;
}

.comment__avatar {
  display: none;
}

.comment__body {
  box-shadow: 0 1px 3px 0 hsla(0, 0%, 0%, .2);
  box-shadow: var(--shadow-inactive);
  flex: 1;
  position: relative;
  width: auto;
  background: hsl(0, 0%, 100%);
}

.comment__header {
  background: hsl(0, 0%, 93%);
  padding: 8px 8px;
  display: flex;
  align-items: center;
}

.comment__header a {
  display: inline-block;
}

.comment__content {
  background: hsl(0, 0%, 100%);
  padding: 0 8px;
  color: hsl(0, 0%, 35%);
}

.comment__content a {
  text-decoration: underline;
}

.comment__delete {
  margin-left: auto;
  color: hsl(0, 0%, 13%);
  color: var(--font-primary-color);
}

/** =====================
 * Responsive
 ========================*/

@media only screen and (min-width: 768px) {
  .comment__body {
    margin-left: 10px;
    width: auto;
  }

  .comment__avatar {
    display: flex;
    flex: 0 1 auto;
  }

  .comment__avatar__img {
    width: 48px;
    height: 48px;
    border: 3px solid #FFF;
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 hsla(0, 0%, 0%, .2);
    box-shadow: var(--shadow-inactive);
  }
}