.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: var(--container-width);
}

.container-grid {
  display: grid;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  overflow: hidden;
}

.container-comments {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-comments > * {
  flex: 0 1 var(--container-comments-width);
}

.container-grid {
  grid-template-columns: repeat(var(--grid-column-number), minmax(100px, auto));
}

.container-grid .page-header {
  grid-column-start: 1;
  grid-column-end: var(--grid-column-span);
}

.user-profile-container {
  display: flex;
  justify-content: space-between;
}