.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: var(--container-width);
}

.container-grid {
  display: grid;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  overflow: hidden;
  grid-template-columns: repeat(var(--grid-column-number), minmax(100px, auto));
}

.container-comments {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-comments > * {
  flex: 0 1 var(--container-comments-width);
}

.container-grid .page-header {
  grid-column-start: 1;
  grid-column-end: var(--grid-column-span);
}

.user-profile-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.user-profile-container > section {
  flex: 1 1 auto;
}
@media (min-width: 768px) {
  .user-profile-container-songs {
    margin-left: 15px
  }
  .user-profile-container {
    flex-direction: row;
  }

}

.user-profile-song-container {
  margin-top: 45px;
  display: grid;
  justify-content: center;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  grid-template-columns: repeat(var(--user-show-song-column-number), minmax(202px, auto));
}
@media (min-width: 768px) {
  .user-profile-song-container {
    grid-template-columns: repeat(2, minmax(202px, auto));
  }
}
@media (min-width: 992px) {
  .user-profile-song-container {
    grid-template-columns: repeat(3, minmax(202px, auto));
  }
}
@media (min-width: 1200px) {
  .user-profile-song-container {
    grid-template-columns: repeat(4, minmax(202px, auto));
  }
}

.user-profile-edit,
.song-edit,
.song-new {
  display: flex;
  margin-top: 15px;
  flex-direction: column;
}
#avatar_div, #art_div {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
#avatar_div .form-group,
#art_div .form-group {
  margin-bottom: 0;
  margin-top: 15px;
}

.song-new form,
.song-edit form,
.user-profile-edit form {
  flex: 1 1 auto;
}

@media (min-width: 768px) {
  .user-profile-edit,
  .song-edit,
  .song-new {
    flex-direction: row;
    max-width: 768px;
  }
  #avatar_div,
  #art_div {
    margin-bottom: 0;
    margin-right: 15px;
  }
}