.logo {
  background-image: var(--logo);
  background-repeat: no-repeat;
  width: var(--logo-width);
  height: 50px;
  display: inline-block;
  vertical-align: top;
}

.glheader {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  z-index: 1000;
  padding-top: 5px;
}
.glheader > div:first-child {
  margin-right: auto;
}
.glheader__user__signin--container {
  margin-left: 10px;
}
.glheader__user__avatar {
  position: relative;
  width: var(--avatar-width);
  height: var(--avatar-width);
  z-index: 2;
  margin-left: 15px;
  vertical-align: top
}

.glheader__menu_link {
  margin-left: 15px;
  font-size: 18px;
  border-bottom: 5px solid transparent;
}
.glheader__menu_link.active {
  border-bottom: 5px solid #FFC107;
}

  .glheader.focused .logo,
.glheader.focused .glheader__menu_link,
.glheader.focused .glheader__user__avatar {
  display: none;
}

@media (min-width: 768px) {
  .glheader.focused .logo,
  .glheader.focused .glheader__menu_link,
  .glheader.focused .glheader__user__avatar {
    display: flex;
  }
}

@media (max-width: 768px) {
  .glheader {
    width: 100%;
  }
}