.logo {
  background-image: var(--logo);
  background-repeat: no-repeat;
  width: var(--logo-width);
  height: 50px;
  display: inline-block;
}

.glheader {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-user-select: none;
  z-index: 1000;
  padding-top: 5px;
}

.glheader__user__avatar {
  position: relative;
  width: var(--avatar-width);
  height: var(--avatar-width);
  z-index: 2;
  margin-left: 15px;
}

.glheader__menu_link {
  margin-left: 15px;
  font-size: 18px;
  border-bottom: 5px solid transparent;
}
.glheader__menu_link.active {
  border-bottom: 5px solid #FFC107;
}
