.hero {
  color: inherit;
  background-color: #eeeeee;
  display: block;
  position: relative;
}

.hot-hero {
  height: 70vh;
  background: var(--hero);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 15px;
}

.SongIndexView .hot-hero {
  padding-bottom: calc(10vh + 15px);
}

.SongIndexView main {
  margin-top: -10vh;
}
