.hero {
  color: inherit;
  background-color: #eeeeee;
  position: relative;
  min-height: 40vh;
  background-image: linear-gradient(transparent, #fff), var(--hero);
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-attachment: scroll, fixed;
  display: flex;
  flex-direction: column;
  background-position: 0% 50%;
  justify-content: space-between;
}

.SongIndexView .hero, .TopIndexView .hero {
  padding-bottom: calc(10vh + 15px);
}

.SongIndexView main, .TopIndexView main {
  margin-top: -10vh;
}
