.hero {
  color: inherit;
  background-color: #eeeeee;
  position: relative;
  min-height: 40vh;
  background-image: var(--hero);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  background-position: 0% 50%;
  justify-content: space-between;
}

.SongIndexView .hero, .TopIndexView .hero {
  padding-bottom: calc(10vh + 15px);
}

.SongIndexView main, .TopIndexView main {
  margin-top: -10vh;
}
