svg {
  display: inline-block;
  pointer-events: none;
}

.svg-icon {
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 0;
  vertical-align: top;
}

svg:not(:root) {
  overflow: hidden;
}

.song-opinion {
  user-select: none;
  background: transparent;
  color: hsl(0, 0%, 45%);
  outline: 0;
  display: flex;
  line-height: 1.5;
  margin-right: 1rem;
}

.song-down.active svg {
  fill: hsl(0, 100%, 35%);
}

.song-like.active svg {
  fill: hsl(240, 100%, 35%);
}

.song-up.active svg {
  fill: hsl(120, 100%, 35%);
}

.song-down:hover svg {
  fill: hsl(0, 100%, 35%);
}

.song-like:hover svg {
  fill: hsl(240, 100%, 35%);
}

.song-up:hover svg {
  fill: hsl(120, 100%, 35%);
}

.tippy-tooltip.wsdjs-theme {
  /* Your styling here. Example: */
  background-color: hsl(240, 20%, 98%);
  border: 2px solid white;
  font-weight: bold;
  color: #333;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.tippy-tooltip.wsdjs-theme .tippy-backdrop {
  /* Your styling here. Example: */
  background-color: white;
}

.tippy-tooltip.wsdjs-theme .tippy-content {
  /* Your styling here. Example: */
  display: flex;
  padding: 4px;
}

.tippy-tooltip.playlist-picker-theme {
  background-color: hsl(240, 20%, 98%);
  font-weight: bold;
  color: #333;
  padding: 0;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.tippy-tooltip.playlist-picker-theme .tippy-backdrop {
  background-color: white;
}

.tippy-tooltip.playlist-picker-theme .tippy-content {
  /* Your styling here. Example: */
  @apply m-2;
  text-align: left;
}
