.actions .playlist-name {
  margin-left: auto;
  display: flex;
}

.table_song-art {
  width: 64px;
}

.playlist {
  position: relative;
  display: block;
}

.playlist__details {
  display: flex;
  justify-content: space-between;
  line-height: 24px;
}