.playlist-actions {
  align-items: center;
  height: 48px;
  justify-content: flex-end;
}

.table_song-art {
  width: 64px;
}

.playlist {
  position: relative;
  display: block;
}

.playlist-visibility {
  position: absolute;
  top: 4px;
  right: 4px;
}

.playlist .playlist-name {
  position: absolute;
  bottom: 0px;
  padding: 4px;
  background-color: hsla(221, 23%, 16%, .8);
  color: #D3D8E0;
  display: flex;
}