.playlist-actions {
  align-items: center;
  height: 3rem;
}

.table_song-art {
  width: 4rem;
}

.playlist {
  position: relative;
  display: block;
}

.playlist .playlist-name {
  position: absolute;
  bottom: 0;
  padding: 4px;
  background-color: hsla(221, 23%, 16%, .8);
  color: #D3D8E0;
  display: flex;
}