.radio-page {
  margin-top: 1rem;
}

.radio-song {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.radio-song img {
  max-width: 300px;
}

body.radio-playing .sound-bars {
  display: flex;
}

body.radio-playing .icon-radio {
  display: none;
}

body.radio-playing .icon-play {
  display: none;
}

body.radio-playing .icon-pause {
  display: inline-block;
}

.icon-pause {
  display: none;
}
