body.radio-playing .sound-bars {
  display: flex;
}

body.radio-playing .icon-radio {
  display: none;
}

body.radio-playing .icon-play {
  display: none;
}

body.radio-playing .icon-pause {
  display: inline-block;
}

.radio-song img {
  width: 16rem;
  height: 16rem;
}

.icon-pause {
  display: none;
}
