/*******************************************/
/* search                                  */
/*******************************************/
.glsearch {
  z-index: 49;
  width: 390px;
  pointer-events: none;
  margin-left: auto;
}

.glsearch__filter__wrap {
  position: relative;
  z-index: 2;
  transition: transform ease .1s;
}

.glsearch__filter {
  position: relative;
  border: none;
  background-color: #fff;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .05);
  color: #999;
  transform: translateY(0);
  transition: transform ease .1s;
  pointer-events: auto;
  font-size: 13px;
  -webkit-appearance: none
}

.glsearch__filter__wrap .icon-search-quickjump {
  background-image: var(--icon-search);
  width: 24px;
  height: 24px;
  opacity: .8;
  position: absolute;
  z-index: 3;
  top: 5px;
  left: 5px;
}

.glsearch .form-control {
  padding-left: 30px;
}

.glsearch__results {
  width: 390px;
  background-color: #fff;
  border-radius: 3px;
  position: absolute;
  top: 58px;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 19px 12px rgba(0,0,0,0.22);
  pointer-events: none;
  opacity: 0;
  transform: translateY(-4px);
  transition: transform ease .1s,opacity ease .1s;
}

.glsearch__results.glsearch--focused {
  pointer-events: auto;
  opacity: 1;
  transform: translateY(0);
}


@media (max-width:767px) {
    .glsearch {
      width: 310px;
    }

    .glsearch__filter__wrap {
        width: 150px;
        margin: 0 auto
    }

    .glsearch--focused .glsearch__filter__wrap {
        width: calc(100% - 20px);
        transform: translateY(10px)
    }
    .glsearch__results {
        top: 14px;
        padding-top: 52px;
        z-index: 1
    }
}

@media (max-width:480px) {
    .glsearch__filter__wrap {
        width: 80px
    }
    .glheader__menu {
        width: auto;
    }
}

.search-results {
  margin: 0;
  padding: 0;
}

.search-results:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.search-results:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
