/****************************
  song-page
****************************/
.song-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.song-page__art {
  position: relative;
  flex: 1 1 auto;
  min-width: 0;
  box-shadow:  0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}
.song-page__art img {
  width: 100%;
  height: auto;
}
.song-page__details {
  display: flex;
  flex-direction: column;
}
.song-page__details .btn {
  margin-top: 15px;
}
.song-page__details__artist {
  margin-top: 0;
} 
.song-page__tags {
  margin-top: 15px;
}
.song-show-actions > * {
  display: inline-block;
}

/****************************
  minicard
****************************/
.song-minicard {
  border-radius: 0;
  margin: 0;
  display: flex;
}

.song-minicard__heading {
  padding: 0;
  width: 90px;
  height: 90px;
  border: 0;
  flex: 0 0 90px;
}

.song-minicard__body {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
}
.song-minicard__body h5, 
.song-minicard__body h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.song-minicard__footer {
  margin-top: auto;
}
