/****************************
  step selector
****************************/
.top-steps {
  background-color: #edeff0;
  padding-bottom: .5rem;
  padding-top: .5rem;
  margin-top: -1.5rem;
}
.top-steps li {
  display: inline-block;
}
.top-steps li::after {
  display: inline-block;
  content: '\00bb';
  margin: 0 .5rem;
  color: var(--inactive-color);
}
.top-steps li:last-of-type::after {
  display: none;
}
.top-steps li > * {
  display: inline-block;
  color: #2c3f4c;
}
.top-steps button {
  margin: 0;
  vertical-align: inherit;
}
.top-steps li.current {
  font-weight: bold;
  color: var(--accent-color);
}

/****************************
  Voting top
****************************/
.voting-position__selector {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
}
.song-art__play {
  z-index: 1001;
}
.voting-position__selector::-ms-expand { 
  display: none; /* hide the default arrow in ie10 and ie11 */
}
.counting-points {
  white-space: nowrap;
}
.voting-position {
  position: absolute;
  width: 80px;
  height: 80px;
  overflow: hidden;
  top: 0;
  left: 0;
  font-size: 18px;
  z-index: 1000;
}

.voting-position:empty {
  display: none;
}

.voting-position .chart-bg {
  position: absolute;
  top: -80px;
  left: 0;
  width: 0;
  height: 0;
  border-top: 72px solid transparent;
  border-bottom: 72px solid transparent;
  border-left: 72px solid #FFF;
}

.voting-position .chart-value {
  position: absolute;
  top: -7px;
  left: -10px;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  font-weight: 600;
  color: #49596a;
}
.top-voting-footer-actions > .btn {
  width: 24ch;
}

/****************************
  Published top
****************************/
.tops__top__art > div {
  overflow: hidden;
}

.top-song {
  display: flex;
  padding-bottom: 1rem;
  padding-top: calc(1rem - 1px);
  border-bottom: 1px solid hsl(0, 0%, 87%);
  flex-direction: column;
}
.song-art-container {
  position: relative;
  width: 136px;
  height: 136px;
  flex: 0 0 136px;
  align-self: center;
}
.top-counting tr {
  height: 36px;
}
.top-counting td {
  text-align: right;
}

.song-art-container a {
  display: block;
}
.song-art-container a svg {
  position: absolute;
  bottom: 2px;
  right: 2px;
  border-radius: 50%;
  height: 24px;
  width: 24px;
}
.song-art-container a:hover svg {
  transform: scale(1.3);
  bottom: 5px;
  right: 5px;
  background: hsla(0, 0%, 59%, 0.4);
  display: block;
}
.top-song-info-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.top-song-info-container > * {
  flex: 0 0 33%;
}
.top-song-info-container h1 {
  text-align: right;
}

.top-song img {
  max-width: 300px;
  width: 100%;
  height: auto;
}

.container.signin {
  padding-bottom: 15px;
}

.opinions {
  display: flex;
  margin-top: .5rem;
}
.opinions > *:nth-child(2) {
  margin-left: 1rem;
  margin-right: 1rem;
}

.top-song {
  flex-direction: row;
}
.top-song-body-info {
  padding-left: .5rem;
}
.top-song-body-info > a {
  font-weight: bold;
  color: black;
}
.top-song-body aside {
  padding-left: .5rem;
}
.top-song-info-container {
  flex-direction: row;
}

.top-song-body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 0;
}
.top-song-body a:hover{
  text-decoration: underline;
  color: var(--accent-color);
  transform: var(--accent-action);
}

.top-stat__votes .card {
  padding: .5rem;
}