/****************************
  Checking top
****************************/

/****************************
  Voting top
****************************/
.voting-position__selector {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
}
.song-art__play {
  z-index: 1001;
}
.voting-position__selector::-ms-expand { 
  display: none; /* hide the default arrow in ie10 and ie11 */
}
.top-voting-repartition {
  margin-top: 15px;
}

.voting-container {
  margin-bottom: 5px;
}

.voting-container label {
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
}

.voting-container .album-art {
  vertical-align: top;
}

.voting-song {
  position: relative;
}
.counting-points {
  white-space: nowrap;
}

.voting-song-title, .voting-song-artist {
  display: block;
}

.voting-song-artist {
  font-weight: normal;
}

.voting-position {
    position: absolute;
    width: 80px;
    height: 80px;
    overflow: hidden;
    top: 0;
    left: 0;
    font-size: 18px;
    z-index: 1000;
}

.voting-position:empty {
    display: none;
}

.voting-position .chart-bg {
    position: absolute;
    top: -80px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 72px solid transparent;
    border-bottom: 72px solid transparent;
    border-left: 72px solid #FFF;
}

.voting-position .chart-value {
    position: absolute;
    top: -7px;
    left: -10px;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-weight: 600;
    color: #49596a;
}

.top-voting-footer {
  position: fixed;
  bottom: 55px;
  display: flex;
  padding: 10px;
  background-color: grey;
  z-index: 2000;
  justify-content: flex-end;
}

.top-voting-footer-actions > .btn {
  width: 200px;
}


/****************************
  Counting
****************************/


/****************************
  Published top
****************************/
.tops__top__art > div {
  overflow: hidden;
}
.top-songs-container {
  margin-bottom: 50px;
}

.top-song {
  display: flex;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid hsl(0, 0%, 87%);
  flex-direction: column;
}
.song-art-container {
  position: relative;
  width: 150px;
  height: 150px;
  align-self: center;
  overflow: hidden;
}
.top-counting tr {
  height: 36px;
}
.top-counting td {
  text-align: right;
}

.top-song-position-selector {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  background: hsla(0, 0%, 59%, 0.4);
  margin: 7px;
  margin-left: 10px;
  border-radius: 5px;
}
.top-song-position-selector:hover {
  background: hsl(0, 0%, 59%);
}

.song-art-container a {
  display: block;
}
.song-art-container a svg {
  position: absolute;
  bottom: 2px;
  right: 2px;
  border-radius: 50%;
  height: 24px;
  width: 24px;
}
.song-art-container a:hover svg {
  transform: scale(1.3);
  bottom: 5px;
  right: 5px;
  background: hsla(0, 0%, 59%, 0.4);
  display: block;
}
.top-song-info-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.top-song img {
  max-width: 300px;
  width: 100%;
  height: auto;
}

.container.signin {
  padding-bottom: 15px;
}

@media (min-width: 767px) {
  .top-song {
    flex-direction: row;
  }
  .top-song-body-info {
    padding-left: 15px;
  }
  .top-song-body aside {
    padding-left: 15px;
  }
  .top-song-info-container {
    flex-direction: row;
  }
}


.top-song-art {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 160px;
  height: auto;
  margin-right: 15px;
  position: relative;
  margin-bottom: 0
}

.top-song-art img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.top-song-body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15px;
  min-width: 0;
}
.top-song-body a:hover{
  text-decoration: underline;
  color: hsl(45, 100%, 51.4%);
  transform: translateY(-2px);
}
