/****************************
  ??
****************************/
.tops__top__art {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: .5rem;
}

.tops__top__art > div {
  flex: 1 0 20%;
}

.tops__top__art img {
  width: 100%;
  vertical-align: top;
}

/****************************
  top timeline vertical line
****************************/
.tops::before {
  content: '';
  position: absolute;
  top: 0;
  left: 33px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 768px) {
  .tops::before {
    left: 50%;
    margin-left: -2px;
  }
}

/****************************
  top timeline
****************************/
.tops {
  position: relative;
}
.tops__top {
  display: flex;
  position: relative;
  margin: 2em 0;
}
.tops__top > a {
  overflow: hidden;
}
.tops__top:first-child {
  margin-top: 0;
}
.tops__top:last-child {
  margin-bottom: 0;
}
.tops__top__anchor {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.tops__top__anchor__img {
  width: 100%;
  height: auto;
}
.tops__top table {
  margin-top: 8px;
} 
.tops__top thead {
  background-color: transparent;
}
.tops__top__content {
  color: var(--inactive-color);
  position: relative;
  margin-left: 0;
  padding: 16px;
  width: 100%;
}
.tops__top__date {
  display: flex;
  color: var(--inactive-color);
}
.tops__top__date time {
  padding-right: 16px;
}
.tops__top__details {
  margin-top: 16px;
}

@media only screen and (min-width: 768px) {
  .tops :nth-child(even) {
    justify-content: flex-end;
  }
  .tops :nth-child(odd) .tops__top__date {
    flex-direction: row-reverse;
  }
  .tops :nth-child(odd) .tops__top__date time {
    padding-right: 0;
    padding-left: 15px;
  }
  .tops__top__anchor {
    width: 64px;
    height: 64px;
    left: 50%;
    margin-left: -30px;
  }
  .tops__top__content {
    margin-left: 0;
    width: 45%;
  }
}
