/****************************
  ??
****************************/
.tops__top__art {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.tops__top__art > div {
  flex: 1 0 20%;
}

.tops__top__art img {
  width: 100%;
  vertical-align: top;
}

/****************************
  top timeline vertical line
****************************/
.tops::before {
  content: '';
  position: absolute;
  top: 0;
  left: 33px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 768px) {
  .tops::before {
    left: 50%;
    margin-left: -2px;
  }
}

/****************************
  top timeline
****************************/
.tops {
  position: relative;
}
.tops__top {
  display: flex;
  position: relative;
  margin: 2em 0;
}
.tops__top:first-child {
  margin-top: 0;
}
.tops__top:last-child {
  margin-bottom: 0;
}
.tops__top__anchor {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.tops__top__anchor img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.tops__top__content {
  position: relative;
  margin-left: 60px;
  padding: 15px;
  border-radius: 10px;
}
.tops__top__date {
  font-size: 0.8125rem;
  padding: 0 0 .8em 0;
  display: flex;
  color: #777777;
}
.tops__top__date time {
  padding-right: 15px;
}
.tops__top__details {
  margin-top: 15px;
}
.tops__top__details th,
.tops__top__details td {
  text-align: left;
  color: #777777;
}

@media only screen and (min-width: 768px) {
  .TopIndexView .tops {
    max-width: 1170px;
  }
  .tops :nth-child(even) {
    justify-content: flex-end;
  }
  .tops :nth-child(odd) .tops__top__date {
    flex-direction: row-reverse;
  }
  .tops :nth-child(odd) .tops__top__date time {
    padding-right: 0;
    padding-left: 15px;
  }
  .tops__top__anchor {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
  }
  .tops__top__content {
    margin-left: 0;
    width: 45%;
  }
}


/****************************
  step
****************************/
.top-steps {
  padding: 0.5em 1em;
  margin: 1em auto;
  background-color: #edeff0;
  border-radius: .25em;
}
.top-steps::after {
  clear: both;
  content: "";
  display: table;
}
.top-steps li {
  display: inline-block;
  margin: 0.5em 0;
}
.top-steps li::after {
  display: inline-block;
  content: '\00bb';
  margin: 0 .6em;
  color: #959fa5;
}
.top-steps li:last-of-type::after {
  display: none;
}
.top-steps li > * {
  display: inline-block;
  font-size: 1.4rem;
  color: #2c3f4c;
}
.top-steps li.current > * {
  color: #96c03d;
}


@media only screen and (min-width: 768px) {
  .top-steps {
    /* reset style */
    background-color: transparent;
    padding: 0;
    text-align: center;
  }

  .top-steps li {
    position: relative;
    float: none;
    margin: 0.4em 40px 0.4em 0;
  }
  .top-steps li:last-of-type {
    margin-right: 0;
  }
  .top-steps li::after {
    /* this is the line connecting 2 adjacent items */
    position: absolute;
    content: '';
    height: 4px;
    background: #edeff0;
    margin: 0;
  }
  .top-steps li.visited::after {
    background-color: #96c03d;
  }
  .top-steps li > *,
  .top-steps li.current > * {
    position: relative;
    color: #2c3f4c;
  }

  .top-steps.text-center li::after {
    width: 100%;
    top: 50%;
    left: 100%;
    transform: translateY(-50%) translateX(-1px);
  }
  .top-steps.text-center li > * {
    z-index: 1;
    padding: .6em 1em;
    border-radius: .25em;
    background-color: #edeff0;
  }

  .top-steps.text-center li.current > *,
  .top-steps.text-center li.visited > * {
    color: #ffffff;
    background-color: #96c03d;
  }
  .top-steps li.next > * {
    /* next step */
    background-color: #337ab7;
    color: white;
  }
}
