/****************************
  ??
****************************/

.tops__top__art>div {
  flex: 1 0 20%;
}

.tops__top__art img {
  vertical-align: top;
}

/****************************
  top timeline vertical line
****************************/

.tops::before {
  content: '';
  position: absolute;
  top: 0;
  left: 33px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

@media only screen and (min-width: 992px) {
  .tops::before {
    left: 50%;
    margin-left: -2px;
  }
}

/****************************
  top timeline
****************************/

.tops {
  position: relative;
  width: 100%;
}

.tops__top__anchor {
  top: 0;
  width: 4rem;
  height: 4rem;
  left: 50%;
  margin-left: -30px;
}

.tops__top__content {
  color: var(--inactive-color);
  position: relative;
  margin-left: 0;
  padding: 16px;
  width: 100%;
}

.tops__top__date {
  color: var(--inactive-color);
}

@media only screen and (min-width: 992px) {
  .tops :nth-child(even) {
    justify-content: flex-end;
  }

  .tops :nth-child(odd) .tops__top__date {
    flex-direction: row-reverse;
  }

  .tops :nth-child(odd) .tops__top__date time {
    padding-right: 0;
    padding-left: 15px;
  }


  .tops__top__content {
    width: 45%;
  }
}