#users-section a {
  -webkit-text-decoration: underline;
  text-decoration: underline dotted;
}
#users-section a:hover {
  -webkit-text-decoration: underline;
  text-decoration: underline;
  color: hsl(45, 100%, 51.4%);
  color: var(--accent-color);
}
.user-page {
  padding-top: 16px;
}
.user-place {
  display: flex;
  margin-top: auto;
}
.user-page__avatar {
  flex: 0 0 96px;
  height: 96px;
  width: 96px;
}
.user-page__avatar img {
  border-radius: 50%;
}
.user-page__stats td {
  color: hsl(0, 0%, 45%);
  color: var(--inactive-color);
}
.user-profile-edit {
  margin-top: 16px;
}
.user-page__profile__header {
  display: flex;
}
.user-page__profile-details {
  flex: 1 1 auto;
  min-width: 0;
  width: 100%;
  padding-left: 4px;
  padding-right: 4px;
}

.user-page__profile__section {
  padding: 1rem;
  padding-bottom: 1rem;
  position: relative;
  width: 100%;
  background-color: white;
}
.user-page__profile__section:empty {
  display: none;
}
.social-link {
  display: inline-block;
}
.social-link:hover {
  transform: translateY(-2px);
  transform: var(--accent-action);
  display: inline-block;
}
.social-sc:hover svg{
  fill: #ff5500;
}
.social-yt:hover svg{
  fill: #ff0000;
}
.social-fb:hover svg{
  fill: #4267b2;
}
.user-page__details {
  color: hsl(0, 0%, 45%);
  color: var(--inactive-color);
  margin: 0;
}
.user-page__logout {
  padding-left: 0;
}
.user-page__actions {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center
}
.user-parameters th {
  white-space: nowrap;
}
#playlists-section ul {
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: 1fr 1fr;
}
#playlists-section li article:hover {
  transform: translateY(-2px);
  transform: var(--accent-action);
}

@media (min-width: 768px) {
  #playlists-section ul {
    grid-template-columns: repeat( auto-fit, minmax(248px, 1fr) );
  }
}