.aboutme>ul {
  list-style-type: disc;
  margin-left: 2.5rem;
}

.user-page__profile__section:empty {
  display: none;
}

.social-sc:hover svg {
  fill: #ff5500;
}

.social-ws:hover svg {
  fill: #4267b2;
}

.social-yt:hover svg {
  fill: #ff0000;
}

.social-fb:hover svg {
  fill: #4267b2;
}

.playlists-grid {
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 576px) {
  .playlists-grid {
    grid-template-columns: 16.5rem 16.5rem;
  }
}

@media (min-width: 768px) {
  .playlists-grid {
    grid-template-columns: 14rem 14rem;
  }
}

@media (min-width: 992px) {
  .playlists-grid {
    grid-gap: 1.25rem;
    grid-template-columns: 13.5rem 13.5rem 13.5rem;
  }
}
