@supports(grid-gap: 0) {

  .user-page__songs li {
    margin-bottom: 0;
  }
  .song-card {
    margin-bottom: 0;
  }

  .song-top__container,.user-page__songs,.top-songs-container, .top-stat__votes {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(1, 1fr);
  }

  .song-top__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .song-top__song {
    margin: 0;
  }
  @media (min-width: 768px) {
    .user-page {
      display: grid;
      grid-gap: 15px;
      grid-template-columns: 300px 1fr;
    }
    
    .top-stat__votes {
      grid-template-columns: repeat(3, 1fr);
    }

    .song-top__container {
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 5px;
    }
    .user-page__songs {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5px;
    }
    .user-page__songs .song-minicard {
      flex-direction: column;
    }
    .user-page__songs .song-minicard__heading {
      width: 100%;
      height: auto;
      flex: 0 0 auto;
    }
    .user-page__songs .song-minicard__body {
      padding-left: 0;
    }
    .top-songs-container {
      grid-template-columns: repeat(2, 1fr);
    }  
  }
  @media (min-width: 992px) {
    .user-page__songs {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 5px;
    }
    .top-songs-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (min-width: 1200px) {
    .user-page__songs {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
