@charset 'utf-8';

* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #F8F8F8;
  margin-bottom: 100px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

textarea {
  resize: vertical;
}
