.card {
  border-radius: 0;
}

a.panel-heading {
  display: block;
}


/************************************************************************/
/* BASIC CARD */
.card .panel-heading {
  padding: 0;
  position: relative;
}

.card .panel-heading img {
  width: 100%;
  height: auto;
}

.card .panel-footer {
  background-color: inherit;
}

.card .card-heading-details {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-left: 15px;
  color: white;
}

.card .card-heading-details:hover {
  background: rgba(0, 0, 0, 0.5);
}
