
.card-song .panel-heading {
  padding: 0;
  position: relative;
}

.card-song .panel-heading img {
  width: 100%;
  height: auto;
}

.card-song .panel-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  flex-wrap: wrap;
}

.card-song .panel-footer  .label {
  cursor: pointer;
}

.card-song .artist-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-song .song-art-overlay {
  position: absolute;
  bottom: 0;
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
}

.card-song .song-art-overlay .label {
  user-select: none;
  cursor: default;
}

.card-song .song-art-overlay span {
  margin-right: 5px;
}

.card-song .song-art-overlay a {
  margin-left: auto;
}

.card-song .song-genre, .song-bpm {
  display: none;
}
