.container-grid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  display: grid;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  overflow: hidden;
}
@media (min-width: 768px) {
  .container-grid {
    width: 768px;
    grid-template-columns: repeat(2, minmax(100px, auto));
  }
}
@media (min-width: 992px) {
  .container-grid {
    width: 992px;
  }
}
@media (min-width: 1200px) {
  .container-grid {
    width: 1200px;
    grid-template-columns: repeat(4, minmax(100px, auto));
  }

  .container-grid .page-header {
    grid-column-start: 1;
    grid-column-end:   5;
    padding-top: 50px;
  }
}
