.hero {
  padding-top: 120px;
  padding-bottom: 24px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eeeeee;
  display: block;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hot-hero {
  height: 70vh;
  background: url(http://res.cloudinary.com/don2kwaju/image/upload/e_blur:400/o_30/v1462614339/wsdjs/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
