.hero {
  padding-bottom: 15em;
  color: inherit;
  background-color: #eeeeee;
  display: block;
  position: relative;
}

.hot-hero {
  height: 70vh;
  background: url(http://res.cloudinary.com/don2kwaju/image/upload/e_blur:400/o_30/v1462614339/wsdjs/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.songs-container {
  margin-top: -10em;
}
