.song-header {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eeeeee;
  display: block;
}

.song-header .song-title {
  margin-top: 0;
} 

.song-header  h2.song-artist {
  margin-top: 0;
}

.song-header .song-title {
  font-size: 1.5em;
  line-height: 30px;
} 

.song-header .song-artist { font-size: 1em; }

.song-header .song-play {
  width: 139px;
  height: 139px;
  max-width: 100%;
  display: block;
  background-image: var(--icon-play);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100%;
  background-color: rgba(150,150,150,.5);
}

.song-header .song-play:hover {
  background-color: rgba(150,150,150,1);
  transform: scale(1.1);
}

.song-header .song-comment { display: none; }

.song-header .song-opinion {
  white-space: nowrap;
  -webkit-user-select: none;
  background: #fff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  border-radius: 2px;
  border-style: none;
  background-clip: padding-box;
  padding: 2px 10px 2px 35px;
  height: 29px;
  margin-right: 10px;
  display: inline-block;
  color: #777;
}

.song-header .song-opinion > span {
  color: inherit;
  padding: 0 8px;
  border-left: 1px solid #ececec;
  line-height: 25px;
}

.song-header .song-down{
  background-image: var(--icon-down);
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 2px;
}

.song-header .song-down.active{
  background-image: var(--icon-down-active);
  color: rgb(180, 0, 0);
  font-weight: bold;
}

.song-header .song-like{
  background-image: var(--icon-like);
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 2px;
}

.song-header .song-like.active{
  background-image: var(--icon-like-active);
  color: rgb(0, 0, 180);
  font-weight: bold;
}

.song-header .song-up{
  background-image: var(--icon-up);
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 2px;
}

.song-header .song-up.active{
  background-image: var(--icon-up-active);
  color: rgb(0, 180, 0);
  font-weight: bold;
}
