.song-header {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eeeeee;
  display: block;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
}

.song-header-container {
  display: flex;
  flex-direction: row;
}

.song-header-details {
  flex: 1 1 auto;
  align-self: flex-end;
}

.song-header-art {
  position: relative;
  flex: 0 0 300px;
  height: 300px;
}

.song-header .song-title {
  margin-top: 0;
} 

.song-header  h2.song-artist {
  margin-top: 0;
}

.song-header .song-title {
  font-size: 1.5em;
  line-height: 30px;
} 

.song-header .song-artist { font-size: 1em; }

.song-header .song-comment { display: none; }
