<h1>Listing Users</h1>

<table class="table">
<%= for account <- @accounts do %>
<tr>
  <td><b><%= account.email %></b> (<%= account.id %>)</td>
  <td><%= link "View", to: account_path(@conn, :show, account.id) %></td>
</tr>
<% end %>
</table>
