
.card-song .panel-heading {
  padding: 0;
  position: relative;
}

.card-song .panel-heading:hover .card-song-play {
  background-color: rgba(180,180,180,1);
  transform: scale(1.1);
}

.card-song .panel-heading img {
  width: 100%;
  height: auto;
}

.card-song .panel-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  flex-wrap: wrap;
}

.card-song .panel-footer  .label {
  cursor: pointer;
}

.card-song .artist-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-song .card-song-play {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23FFFFFF' height='72' viewBox='0 0 24 24' width='72' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M10 16.5l6-4.5-6-4.5v9zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  position: absolute;
  height: 72px;
  width: 72px;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-decoration: none;
  border-radius: 100%;
  background-color: rgba(180,180,180,.5);
}

.card-song .song-art-overlay {
  position: absolute;
  bottom: 0;
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
}

.card-song .song-art-overlay .label {
  user-select: none;
  cursor: default;
}

.card-song .song-art-overlay span {
  margin-right: 5px;
}

.card-song .song-art-overlay a {
  margin-left: auto;
}

.card-song .song-opinion {
  white-space: nowrap;
  -webkit-user-select: none;
  background: #fff;
  border-radius: 2px;
  background-clip: padding-box;
  padding: 2px 0 2px 35px;
  height: 29px;
  display: inline-block;
  color: #777;
  line-height: 25px;
}

.card-song .song-down{
  background-image: url("data:image/svg+xml,%3Csvg fill='%23777777' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 2px;
}

.card-song .song-down.active{
  background-image: url("data:image/svg+xml,%3Csvg fill='%23B40000' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z'/%3E%3C/svg%3E ");
  color: rgb(180, 0, 0);
}

.card-song .song-like{
  background-image: url("data:image/svg+xml,%3Csvg fill='%23777777' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 2px;
}

.card-song .song-like.active{
  background-image: url("data:image/svg+xml,%3Csvg fill='%230000B4' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z'/%3E%3C/svg%3E ");
  color: rgb(0, 0, 180);
}

.card-song .song-up{
  background-image: url("data:image/svg+xml,%3Csvg fill='%23777777' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 2px;
}

.card-song .song-up.active{
  background-image: url("data:image/svg+xml,%3Csvg fill='%2300B400' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h24v24H0V0z' fill='none'/%3E%3Cpath d='M4 12l1.41 1.41L11 7.83V20h2V7.83l5.58 5.59L20 12l-8-8-8 8z'/%3E%3C/svg%3E ");
  color: rgb(0, 180, 0);
}

.card-song .song-comment {
  background-image: url("data:image/svg+xml,%3Csvg height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23777777' d='M9,22A1,1 0 0,1 8,21V18H4A2,2 0 0,1 2,16V4C2,2.89 2.9,2 4,2H20A2,2 0 0,1 22,4V16A2,2 0 0,1 20,18H13.9L10.2,21.71C10,21.9 9.75,22 9.5,22V22H9M10,16V19.08L13.08,16H20V4H4V16H10M6,7H18V9H6V7M6,11H15V13H6V11Z' /%3E%3C/svg%3E ");
  background-position-y: 2px;
  display: block;
  height: 24px;
  width: 24px;
}

.card-song .song-comment-empty {
  background-image: url("data:image/svg+xml,%3Csvg height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23777777' d='M9,22A1,1 0 0,1 8,21V18H4A2,2 0 0,1 2,16V4C2,2.89 2.9,2 4,2H20A2,2 0 0,1 22,4V16A2,2 0 0,1 20,18H13.9L10.2,21.71C10,21.9 9.75,22 9.5,22V22H9M10,16V19.08L13.08,16H20V4H4V16H10Z' /%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position-y: 2px;
  display: block;
  height: 24px;
  width: 24px;
}


.card-song .song-genre, .song-bpm {
  display: none;
}
