<nav class="secondary-nav py-4">
  <ol class="container">
    <li class="inline-block">
      <%= link "bio", to: Routes.user_path(@conn, :show, @user) %>
    </li>
  </ol>
</nav>

<section class="container pt-4 w-full">
  <%= render "_playlists.html", conn: @conn, current_user: @current_user, user: @user, playlists: @playlists %>
</section>