.shadow {
    box-shadow: var(--shadow-inactive);
    box-shadow: 0 .5rem 1rem hsla(0, 0%, 0%, 0.15) !important;
    transition: box-shadow .3s cubic-bezier(.25, .8, .25, 1);
}

.shadow-hover:hover {
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, .2);
    box-shadow: var(--shadow-active);
}

.shadow-none {
    box-shadow: none !important;
}

.shadow-hover:hover input[type=submit] {
    opacity: 1;
}

.shadow-hover input[type=submit] {
    opacity: 0;
}

.shadow-nohover {
    box-shadow: 0 1px 3px 0 hsla(0, 0%, 0%, .2);
    box-shadow: var(--shadow-inactive);
}