<main class="container">
  <header class="hero">
  </header>
  <section class="row">
    <%= render_many @tops, @view_module, "_top.html", conn: @conn %>
  </section>
</main>

<%= if Wcsp.Trendings.Policy.can?(:create_top, @conn.assigns.current_user) do %>
<div id="fab-container">
  <a class="fab-btn" title="Create a new top" href="<%= top_path(@conn, :new) %>"></a>
</div>
<% end %>
