<%= form_for @changeset, api_song_comment_path(@conn, :create, @song), [id: "song-comment-form"], fn f -> %>
<div class="form-group">
  <%= textarea f, :text, class: "form-control", placeholder: "Comment" %>
  <%= error_tag f, :text %>
</div>

<%= submit "Add comment", class: "btn btn-primary" %>
<% end %>
