<section class="container" data-month="<%= @month %>">
    <h4 class="page-header">
        <time datetime="<%= @month %>"></time> <small><%= Enum.count(@songs) %> suggestions</small>
    </h4>
    <ul class="hot-songs">
        <%= render_many @songs, WsdjsWeb.SharedView, "_hot_song.html", conn: @conn, as: :song, current_user: @current_user %>
    </ul>
</section>