<div class="container">
<h2>New Playlist</h2>
<p>
<%= name_or_email(@user) %>, you are creating a new playlist. By default, your playlist is public
</p>
<%= render "form.html", Map.put(assigns, :action, user_playlist_path(@conn, :create, @user)) %>

<span><%= link "Back", to: user_path(@conn, :show, @current_user) %></span>
</div>