<section class="container">
<h2>Show Event</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @event.name %>
  </li>

  <li>
    <strong>Starts on:</strong>
    <%= @event.starts_on %>
  </li>

  <li>
    <strong>Ends on:</strong>
    <%= @event.ends_on %>
  </li>

  <li>
    <strong>Venue</strong>
    <%= @event.venue %>
  </li>

</ul>

<span><%= link "Edit", to: event_path(@conn, :edit, @event) %></span>
<span><%= link "Back", to: event_path(@conn, :index) %></span>
</section>