#comments-container {
  margin-top: 10px;
}

.comment {
  display: flex;
  margin-bottom: 15px;
}

.comment__avatar {
  display: none;
}

.comment__body {
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  flex: 1;
  position: relative;
  width: auto;
}

.comment__header {
  background: #EEEEEE;
  padding: 10px 12px;
  border-bottom: 1px solid #E5E5E5;
  border-radius: 4px 4px 0 0;
  display: flex;
  align-items: center;
}

.comment__content {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	border-radius: 0 0 4px 4px;
}
.comment__delete {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: auto;
  background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z'/%3E %3Cpath d='M0 0h24v24H0z' fill='none'/%3E %3C/svg%3E");
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (min-width: 768px) {
  .comment__body {
    margin-left:10px;
    width: auto;
  }

  .comment__body:before, .comment__body:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #EEEEEE;
    top: 8px;
    left: -12px;
  }

  .comment__avatar {
    display: flex;
    flex: 0 1 auto;
  }

  .comment__avatar__img {
    width: 65px;
    height: 65px;
    border: 3px solid #FFF;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  }
}
