.SessionNewView .hero {
  padding: 0;
}

body.SessionNewView main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 53px);
}

.HomeIndexView main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-page__top__song li {
  margin-bottom: 15px;
}
.home-page__instant__hit li {
  margin-bottom: 15px;  
}

@media (min-width: 768px) {
  .HomeIndexView main {
    flex-direction: row;
  }
}
