/****************************
  global navigation
****************************/
.glnav {
  align-items: center;
  user-select: none;
  background-color: #1F2532;
  padding-top: 5px;
  padding-bottom: 5px;
}

.glnav .container {
  display: flex;
  align-items: flex-end;
}

.glnav__user {
  width: 40px;
  height: 40px;
  margin-left: auto;
}

.glnav__user__avatar {
  position: relative;
  width: 40px;
  height: 40px;
  vertical-align: top
}

.glnav__menu {
  font-size: 18px;
  padding: 0 15px;
  color: #596377;
  transition: color .6s cubic-bezier(.25, .8, .25, 1);
  padding-bottom: 5px;
}
.glnav__menu:hover {
  color: #D3D8E0;
}


.logo-small {
  width: 40px;
}
.logo-wide {
  width: 120px;
  display: none;
}
.logo:hover {
  fill: #D3D8E0;
  transition: fill .6s cubic-bezier(.25, .8, .25, 1);
}
.logo:not(:hover) {
  fill: #455A64;
  transition: fill .6s cubic-bezier(.25, .8, .25, 1);  
}

@media (min-width: 768px) {
  .logo-small {
    display: none;
  }
  .logo-wide {
    display: inline;
  }
}
