#playlists-section .actions,
#playlist-section .actions {
  padding-bottom: 15px;
}

.playlist-name {
  margin-left: auto;
}
.table_song-art {
  width: 0;
}
.playlist {
  position: relative;
  display: block;
}

.playlist__details {
  display: flex;
  justify-content: space-between;
  line-height: 24px;
}