<section id="top-list" class="tops max-w-7xl mx-auto sm:px-6 lg:px-8">

  <%= for top <- @tops do %>
  <%= render "_top.html", conn: @conn, top: top, current_user: @current_user %>
  <% end %>
  <%= if @page_number < @total_pages do %>
  <div class="sentinel text-center m-4" data-js-page-number="<%= @page_number %>">
    <div class="donut"></div>
  </div>
  <% end %>
</section>