/****************************
  global mobile navigation
****************************/

.mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 48px;
  background: hsl(0, 0%, 93%);
}

.mobile-nav > ul {
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.mobile-nav > ul > li {
  flex: 1;
  display: flex;
  height: 100%;
}

.mobile-nav_menu {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}

/****************************
  global navigation
****************************/

.glnav {
  @apply sticky;
  @apply py-6;
  @apply top-0;
  @apply z-30;
  @apply items-center;
  @apply bg-white;
  @apply shadow;
}

.nav-active {
  @apply border-yellow-600;
}

.glnav a.home {
  height: 48px;
}

.glnav__user {
  width: 48px;
  height: 48px;
  margin-left: auto;
}

.glnav__user__avatar {
  position: relative;
  width: 3rem;
  height: 3rem;
  vertical-align: top;
  border-radius: 50%;
}

.glnav__menu {
  margin-right: 24px;
  @apply border-b-4;
  @apply border-solid;
  @apply border-transparent;
}

.glnav__menu.active {
  @apply border-yellow-600;
}

.logo-small {
  width: 3rem;
  height: 3rem;
}

.logo-wide {
  height: 3rem;
  width: 120px;
  display: none;
}

@media (min-width: 768px) {
  .logo-wide {
    display: inline;
  }
}

/****************************
  secondary navigation
****************************/

.secondary-nav {
  background-color: #edeff0;
}

.secondary-nav li::after {
  display: inline-block;
  content: "";
  color: hsl(0, 0%, 45%);
  margin: 0 0.5rem;
}

.secondary-nav.breadcrumb li::after {
  content: "\00bb";
}

.secondary-nav li:last-of-type::after {
  display: none;
}

.secondary-nav li > * {
  display: inline-block;
  color: #2c3f4c;
}

.secondary-nav button {
  margin: 0;
  vertical-align: inherit;
}

.secondary-nav li.current {
  font-weight: bold;
}
