/****************************
  global mobile navigation
****************************/

.mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 48px;
  background: hsl(0, 0%, 93%);
}

.mobile-nav > ul {
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.mobile-nav > ul > li {
  flex: 1;
  display: flex;
  height: 100%;
}

.mobile-nav_menu {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}

/****************************
  secondary navigation
****************************/

.secondary-nav {
  background-color: #edeff0;
}

.secondary-nav li::after {
  display: inline-block;
  content: "";
  color: hsl(0, 0%, 45%);
  margin: 0 0.5rem;
}

.secondary-nav.breadcrumb li::after {
  content: "\00bb";
}

.secondary-nav li:last-of-type::after {
  display: none;
}

.secondary-nav li > * {
  display: inline-block;
  color: #2c3f4c;
}

.secondary-nav button {
  margin: 0;
  vertical-align: inherit;
}

.secondary-nav li.current {
  font-weight: bold;
}
