<main class="container">
  <section class="row">
      <%= for top <- @tops do %>
        <%= render "_top.html", top: top, conn: @conn %>
      <% end %>
  </section>
</main>


<%= render "_add_top.html" %>
