<main class="container">
  <section class="row">
      <%= for top <- @tops do %>
        <%= render "_top.html", top: top, conn: @conn %>
      <% end %>
  </section>
</main>

<%= if Wcsp.Policy.can?(@conn.assigns.current_user, :create, %Wcsp.Top{}) do %>
<%= render "_add_top.html", conn: @conn, changeset: @changeset %>
<% end %>
