<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render_existing(@view_module, "meta." <> @view_template, assigns) ||
        render(WsdjsWeb.LayoutView, "meta.html", assigns) %>
  </head>

  <body data-js-view-name="<%= js_view_name(@conn, @view_template) %>">
    <%= render "_header.html", conn: @conn, current_user: @current_user %>

    <div class="alerts">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    </div>

    <%= render @view_module, @view_template, assigns %>

    <footer class="global-footer container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <p>World Swing DJs</p>
        </div>
      </div>
    </footer>

    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
