<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello WsdjsWeb!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body data-js-view-name="<%= js_view_name(@conn, @view_template) %>">
    <nav class="glheader">
      <div class="glheader__property">
        <%= link to: hottest_path(@conn, :index) do %>
          <img src="http://res.cloudinary.com/don2kwaju/image/upload/c_fill,g_auto/w_auto:50:60/dpr_auto/f_auto,q_auto/v1/wsdjs/worldswingdjs" />
        <% end %>
      </div>

      <div class="glsearch">
        <div class="glsearch__filter__wrap">
          <i class="icon icon-search-quickjump"></i>
          <input id="glsearch" placeholder="Search song by artist or title..." type="text" class="form-control glsearch__filter" autocomplete="off" spellcheck="false">
        </div>

        <div class="glsearch__results">
        </div>
      </div>

      <div class="glheader__user">
        <a class="glheader__menu-icon">
          <div class="icon icon-navigator-toggle"></div>
        </a>

        <div class="glheader__menu glheader__menu--navigator">
          <%= link "hot_songs", to: hottest_path(@conn, :index), class: "glheader__menu__item glheader__menu__item--hotsongs" %>
          <%= link "tops", to: top_path(@conn, :index), class: "glheader__menu__item glheader__menu__item--tops" %>
          <%= link "users", to: account_path(@conn, :index), class: "glheader__menu__item glheader__menu__item--users" %>
        </div>

        <a class="glheader__menu-icon glheader__menu-icon--account">
          <div class="glheader__user__avatar--container">
            <img class="glheader__user__avatar" src="http://res.cloudinary.com/don2kwaju/image/upload/ar_1:1,c_fill,g_custom,r_max/w_auto:50:50/dpr_auto/f_auto,q_auto/v1462181894/avatar/ug5a5yirji3s4bskkuje.jpg" alt="Ug5a5yirji3s4bskkuje">
          </div>
        </a>
        <div class="glheader__menu glheader__menu--account">
          <%= link to: account_path(@conn, :index), class: "glheader__menu__item glheader__menu__item--account-details" do %>
            <div class="glheader__user__avatar--container">
<img class="glheader__account-details__avatar" src="http://res.cloudinary.com/don2kwaju/image/upload/ar_1:1,c_fill,g_custom,r_max/w_auto:50:50/dpr_auto/f_auto,q_auto/v1462181894/avatar/ug5a5yirji3s4bskkuje.jpg" alt="Ug5a5yirji3s4bskkuje">            </div>
            <div class="glheader__account-details__name">Bob marcler
            </div>
            <div class="glheader__account-details__email">Claudio Nerarde</div>
          <% end %>
          <%= link "account_settings", to: account_path(@conn, :index), class: "glheader__menu__item glheader__menu__item--settings" %>
          <%= link "deconnection", to: account_path(@conn, :index), method: :delete, class: "glheader__menu__item glheader__menu__item--signout" %>
        </div>

      </div>
    </nav>


    <div class="alerts">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    </div>

    <%= render @view_module, @view_template, assigns %>

    <footer class="global-footer container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <p>World Swing DJs</p>
        </div>
      </div>
    </footer>

    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
