<div id="miniplayer" class="miniplayer" data-turbolinks-permanent>
  <div class="miniplayer-art">
    <img height="50" width="50" src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8//PIfwAJeAO9U/c7OgAAAABJRU5ErkJggg==" />
  </div>
  <div class="miniplayer-info">
    <div class="miniplayer-title">waiting..</div>
    <div class="miniplayer-artist"></div>
  </div>

  <div class="miniplayer-action">
    <div class="toggle-player icon-play"></div>
  </div>
</div>
