<ul id="miniplayer-container" class="miniplayer" data-turbolinks-permanent>
  <li>
    <div id="miniplayer" class="player">


      <div class="miniplayer-art">
        <div class="toggle-player icon-play"></div>
        <img height="50" width="50" src="//res.cloudinary.com/don2kwaju/image/upload/e_blur:300/o_30/v1449163830/wsdjs/brand.jpg" />
      </div>
    </div>
  </li>
</ul>
