<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">
    <meta name="cloudinary_cloud_name" content="don2kwaju">

    <link rel="stylesheet" type="text/css" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <%= render_existing(@view_module, "_meta." <> @view_template, assigns) ||
        render(Wsdjs.LayoutView, "meta.html", assigns) %>
  </head>

  <body data-js-view-name="<%= js_view_name(@conn, @view_template) %>">
    <%= render "_header.html", conn: @conn, current_user: @current_user %>

    <%= render @view_module, @view_template, assigns %>

    <div id="notifier-container" class="notifier-container">
      <%= if get_flash(@conn, :info) do %>
      <div id="alert-info" class="notifier info" role="alert">
        <h2 class="notifier-title"><%= get_flash(@conn, :info).title %></h2>
        <div class="notifier-body"><%= get_flash(@conn, :info).body %></div>
      </div>
      <% end %>

      <%= if get_flash(@conn, :error) do %>
      <div id="alert-danger" class="notifier danger" role="alert">
        <h2 class="notifier-title"><%= get_flash(@conn, :error).title %></h2>
        <div class="notifier-body"><%= get_flash(@conn, :error).body %></div>
      </div>
      <% end %>
    </div>
  </body>
</html>
