<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">
    <meta name="cloudinary_cloud_name" content="don2kwaju">

    <link rel="stylesheet" type="text/css" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <%= render_existing(@view_module, "_meta." <> @view_template, assigns) ||
        render(Wsdjs.LayoutView, "meta.html", assigns) %>
  </head>

  <body data-js-view-name="<%= js_view_name(@conn, @view_template) %>">
    <%= render "_header.html", conn: @conn, current_user: @current_user %>

    <div class="alerts container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        </div>
      </div>
    </div>

    <%= render @view_module, @view_template, assigns %>



    <footer class="global-footer container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <p>World Swing DJs</p>
        </div>
      </div>
    </footer>
  </body>
</html>
