Your invitation has been accepted by our administrator. You can now connect to your account at https://www.worldswingdeejays.com .

If you did not ask for invitation, please contact us at worldswingdeejays@gmail.com

Sent by WordSwingDJs somewhere on the dance floor