
<%= if @current_user && @current_user.parameter do %>
  <%= if @current_user.parameter.piwik, do: render "_piwik.html", current_user: @current_user %>
<% end %>

<%= if Mix.env != :prod do %>
<div class="plug-ribbon-wrapper">
  <div class="plug-ribbon">
    <a href="/"><%= Mix.env |> Atom.to_string |> String.upcase %></a>
  </div>
</div>
<% end %>