<script>
    Userback = window.Userback || {};
    Userback.access_token = '308|358|dE0sxQIanKYXMJpWbmSva9ZGli0YkI0xm10TRI4ft2dfMDcXZ5';

    (function(id) {
        if (document.getElementById(id)) {return;}
        var s = document.createElement('script');
        s.id = id;
        s.src = 'https://static.userback.io/widget/v1.js';
        var parent_node = document.body;
        parent_node.appendChild(s);
    })('userback-sdk');
</script>