<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">
    <meta name="cloudinary_cloud_name" content="don2kwaju">
    <meta name="description" content="World Swing DeeJays. The best West Coast Swing music from all around the world !">

    <!-- Control the behavior of search engine crawling and indexing -->
    <meta name="robots" content="index,follow"><!-- All Search Engines -->
    <meta name="googlebot" content="index,follow"><!-- Google Specific -->
    <!-- Tells Google not to show the sitelinks search box -->
    <meta name="google" content="nositelinkssearchbox">
    <!-- Tells Google not to provide a translation for this page -->
    <meta name="google" content="notranslate">

    <link rel="stylesheet" type="text/css" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <%= render_existing(@view_module, "_meta." <> @view_template, assigns) %>

    <%= if Mix.env == :prod, do: render "_piwik.html" %>
  </head>

  <body class="<%= js_view_name(@conn, @view_template) %>" data-js-view-name="<%= js_view_name(@conn, @view_template) %>">
    <section class="hero">
      <nav class="glnav container">
        <%= link "", to: home_path(@conn, :index), class: "glnav__logo" %>
      </nav>

      <%= render @view_module, @view_template, assigns %>

      <%= render "_player.html", conn: @conn %>

      <div id="notifier-container" class="notifier-container">
        <%= if get_flash(@conn, :info) do %>
        <div id="info-notification" class="notifier info" role="alert">
          <h2 class="notifier-title"><%= get_flash(@conn, :info) %></h2>
        </div>
        <% end %>

        <%= if get_flash(@conn, :error) do %>
        <div id="error-notification" class="notifier danger notifier-container-sticky" role="alert">
          <h2 class="notifier-title"><%= get_flash(@conn, :error) %></h2>
        </div>
        <% end %>
      </div>
    </section>
  </body>
</html>
