<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">

    <link rel="stylesheet" type="text/css" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <%= render_existing(@view_module, "_meta." <> @view_template, assigns) ||
        render(Wsdjs.Web.LayoutView, "meta.html", assigns) %>

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//piwik.radiowcs.com/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Piwik Code -->
  </head>

  <body class="login" data-js-view-name="<%= js_view_name(@conn, @view_template) %>">
    <div class="container">
      <nav>
        <%= link "", to: home_path(@conn, :index), class: "logo" %>
      </nav>

      <%= render @view_module, @view_template, assigns %>

      <%= render "_player.html", conn: @conn %>

      <div id="notifier-container" class="notifier-container">
        <%= if get_flash(@conn, :info) do %>
        <div id="alert-info" class="notifier info" role="alert">
          <h2 class="notifier-title"><%= get_flash(@conn, :info) %></h2>
        </div>
        <% end %>

        <%= if get_flash(@conn, :error) do %>
        <div id="alert-danger" class="notifier danger" role="alert">
          <h2 class="notifier-title"><%= get_flash(@conn, :error) %></h2>
        </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
