/****************************
  song-page
****************************/
.song-page__tags.song-opinions {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  background-color: inherit;
}

.song-page__tags.song-opinions button:first-child {
  padding-left: 0;
}

/****************************
  minicard
****************************/
.search-minicard__heading {
  width: 5rem;
  height: 5rem;
  flex: 0 0 5rem;
  position: relative;
  overflow: hidden;
}

.song-minicard__body {
  flex-direction: column;
  min-width: 0;
  flex: 1 1 auto;
  overflow: hidden;
}
