/****************************
  Voting top
****************************/
.song-art__play {
  @apply z-10;
  bottom: 0.25rem;
  right: 0.25rem;
}

.counting-points {
  white-space: nowrap;
}

.voting-position {
  @apply z-10;
  @apply absolute;
  @apply overflow-hidden;
  @apply text-lg;
  width: 80px;
  height: 80px;
  top: 0;
  left: 0;
}

.voting-position:empty {
  display: none;
}

.voting-position .chart-bg {
  position: absolute;
  top: -80px;
  left: 0;
  width: 0;
  height: 0;
  border-top: 72px solid transparent;
  border-bottom: 72px solid transparent;
  border-left: 72px solid #fff;
}

.voting-position .chart-value {
  position: absolute;
  top: -7px;
  left: -10px;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  font-weight: 600;
  color: #49596a;
}

.top-voting-footer-actions > .btn {
  width: 24ch;
}

/****************************
  Published top
****************************/

.tops__top__art > div {
  overflow: hidden;
}

.top-song {
  display: flex;
  padding-bottom: 1rem;
  padding-top: calc(1rem - 1px);
  border-bottom: 1px solid hsl(0, 0%, 87%);
  flex-direction: column;
}

.song-art-container {
  position: relative;
  width: 136px;
  height: 136px;
  flex: 0 0 136px;
  align-self: center;
}

.top-counting tr {
  height: 36px;
}

.top-counting td {
  text-align: right;
}

.song-art-container a svg {
  border-radius: 50%;
}

.song-art-container a:hover svg {
  transform: scale(1.3);
  bottom: 5px;
  right: 5px;
  background: hsla(0, 0%, 59%, 0.4);
  display: block;
}

.top-song-info-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.top-song-info-container > * {
  flex: 0 0 33%;
}

.top-song-info-container h1 {
  text-align: right;
}

.top-song img {
  max-width: 300px;
  width: 100%;
  height: auto;
}

.opinions {
  display: flex;
  margin-top: 0.5rem;
}

.opinions > *:nth-child(2) {
  margin-left: 1rem;
  margin-right: 1rem;
}

.top-song {
  flex-direction: row;
}

.top-song-info-container {
  flex-direction: row;
}

.top-song-body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 0;
  margin-left: 0.5rem;
}

.top-song-body a {
  text-decoration: underline dotted;
}

.top-song-body a:hover {
  text-decoration: underline;
  color: hsl(45, 100%, 51.4%);
}
