/****************************
  Voting top
****************************/
.song-art__play {
  @apply z-10;
  bottom: 0.25rem;
  right: 0.25rem;
}

.counting-points {
  white-space: nowrap;
}

.voting-position {
  @apply z-10;
  @apply absolute;
  @apply overflow-hidden;
  @apply text-lg;
  width: 80px;
  height: 80px;
  top: 0;
  left: 0;
}

.voting-position:empty {
  display: none;
}

.voting-position .chart-bg {
  position: absolute;
  top: -80px;
  left: 0;
  width: 0;
  height: 0;
  border-top: 72px solid transparent;
  border-bottom: 72px solid transparent;
  border-left: 72px solid #fff;
}

.voting-position .chart-value {
  position: absolute;
  top: -7px;
  left: -10px;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  font-weight: 600;
  color: #49596a;
}

/****************************
  Published top
****************************/
.opinions {
  display: flex;
  margin-top: 0.5rem;
}

.opinions > *:nth-child(2) {
  margin-left: 1rem;
  margin-right: 1rem;
}
