/****************************
  top timeline
****************************/

.tops {
  position: relative;
  width: 100%;
}

.tops__top__content {
  color: hsl(0, 0%, 45%);
  position: relative;
  margin-left: 0;
  padding: 16px;
  width: 100%;
}

.tops__top__date {
  color: hsl(0, 0%, 45%);
}

@media only screen and (min-width: 992px) {
  .tops :nth-child(even) {
    justify-content: flex-end;
  }

  .tops :nth-child(odd) .tops__top__date {
    flex-direction: row-reverse;
  }

  .tops :nth-child(odd) .tops__top__date time {
    padding-right: 0;
    padding-left: 15px;
  }

  .tops__top__content {
    width: 19rem;
  }
}

@media (min-width: 1200px) {
  .tops__top__content {
    width: 23rem;
  }
}
