.social-sc:hover svg {
  fill: #ff5500;
}

.social-ws:hover svg {
  fill: #4267b2;
}

.social-yt:hover svg {
  fill: #ff0000;
}

.social-fb:hover svg {
  fill: #4267b2;
}

svg {
  display: inline-block;
  pointer-events: none;
}

svg:not(:root) {
  overflow: hidden;
}

.song-down.active svg {
  fill: hsl(0, 100%, 35%);
}

.song-like.active svg {
  fill: hsl(240, 100%, 35%);
}

.song-up.active svg {
  fill: hsl(120, 100%, 35%);
}

.song-down:hover svg {
  fill: hsl(0, 100%, 35%);
}

.song-like:hover svg {
  fill: hsl(240, 100%, 35%);
}

.song-up:hover svg {
  fill: hsl(120, 100%, 35%);
}
