<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= render "_meta.html", assigns %>

  <%= csrf_meta_tag() %>
  <%= live_title_tag assigns[:page_title] || "WSDJs", suffix: " · Phoenix Framework" %>

  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />

  <script defer
    src="https://cdn.polyfill.io/v2/polyfill.js?features=IntersectionObserver,fetch,Promise,IntersectionObserverEntry&flags=gated"></script>
  <script defer src="https://widget.cloudinary.com/global/all.js" type="text/javascript"></script>
  <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

  <%= if user = @conn.assigns[:current_user] do %>
  <script>window.userToken = "<%= Phoenix.Token.sign(@conn, "user", user.id) %>"</script>
  <%= tag :meta, name: "channel_token", content: Phoenix.Token.sign(@conn, "user", user.id) %>
  <% end %>
  <script>window.baseApiUrl = "/api"</script>
  <%= render_existing(@view_module, "_meta." <> @view_template, assigns) %>

</head>

<body class="font-sans">
  <div>
    <%= render "_navbar.html", assigns %>

    <header class="bg-white shadow">
      <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <%= render_existing(view_module(@conn), "_header_#{view_template(@conn)}", assigns)
       || render_existing(view_module(@conn), "_header", assigns)
       || render "_header.html", assigns %>
      </div>
    </header>

    <%= @inner_content %>
  </div>

    <%= render "_footer.html", assigns %>


</div>


</body>

</html>
