<section id="users-section" class="container">

  <span class="font-bold my-2 block">Users: <%= Enum.count(@users) %></span>
  <ul class="list-reset">
    <%= for user <- @users do %>
    <%= render "_user.html", user: user, conn: @conn %>
    <% end %>
  </ul>
</section>