// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.tops-index {
  padding-top: 70px;
}

.glheader {
  box-sizing: border-box;
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  height: 50px;
  -webkit-user-select: none;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  & > * {
    align-self: center;
  }
}

.glheader__user .icon-navigator-toggle {
  background-image: svg-url('<svg fill="#79589F" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M4 8h4V4H4v4zm6 12h4v-4h-4v4zm-6 0h4v-4H4v4zm0-6h4v-4H4v4zm6 0h4v-4h-4v4zm6-10v4h4V4h-4zm-6 4h4V4h-4v4zm6 6h4v-4h-4v4zm0 6h4v-4h-4v4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 32px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
}

.glheader__user {
  display: flex;
  margin-left: 5px;
}

.glheader__user__avatar--container {
  position: relative;
  width: 30px;
  height: 30px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.glheader__menu__item--account-details .glheader__user__avatar--container {
  width: 48px;
  height: 48px;
  margin: 0 auto 10px;
  box-shadow: none;
}

.glheader__user__avatar, .glheader__account-details__avatar {
  position: relative;
  width: 30px;
  height: 30px;
  z-index: 2;
}

.glheader__account-details__avatar {
  width: 48px;
  height: 48px;
  box-shadow: none;
}

.glheader__menu {
  width: 240px;
  box-shadow: 0 3px 20px rgba(89, 105, 129, .3), 0 1px 2px rgba(0, 0, 0, .05), 0 0 0 1px rgba(89, 105, 129, .1);
  position: absolute;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  background-clip: content-box;
  z-index: 9991;
  transform: translateY(-4px);
  transition: transform ease 0.1s, opacity ease 0.1s;
}

.glheader__menu--open {
  transform: translateY(0px);
  opacity: 1;
  pointer-events: auto;
}

.glheader__menu-icon {
  display: inline-block;
}

.glheader__menu-icon--account {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 40px;
  padding-top: 10px;
  margin-left: 12px;
}

.glheader__menu-icon--signin {
  position: relative;
  display: inline-block;
  width: 82px;
  height: 40px;
  padding-top: 10px;
  margin-left: 12px;
}

.glheader__user__signin--container {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  position: relative;
  width: 80px;
  height: 30px;
  z-index: 2;
  color:#79589F;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glheader__menu--navigator {
  position: absolute;
  right: 56px;
  top: 56px;
}

.glheader__menu--account {
  position: absolute;
  right: 8px;
  top: 56px;
}

.glheader__menu__item {
  position: relative;
  display: block;
  height: 40px;
  border-bottom: 1px solid #EEF1F6;
  text-decoration: none;
  font-size: 14px;
  line-height: 40px;
  color: #79589F;
  padding: 0 46px;
  background-size: 21px 23px;
  background-repeat: no-repeat;
  background-position: 15px 48%;
}

.glheader__menu__item:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.glheader__menu__item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.glheader__menu__item:hover {
  text-decoration: none;
  background-color: #F7F8FB;
  color: #61467f;
}

.glheader__menu__item--account-details {
  height: auto;
  display: block;
  line-height: normal;
  text-align: center;
  color: #3F3F44;
  padding: 20px 10px 20px;
}

.glheader__account-details__name {
  display: block;
  margin-bottom: 5px;
}

.glheader__account-details__email {
  font-size: 13px;
  display: block;
  color: #96A3B6;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.glheader__menu__item--hotsongs {
  background-image: svg-url('<svg fill="#79589F" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z" /><path d="M0 0h24v24H0z" fill="none"/></svg>');
}

.glheader__menu__item--tops {
  background-image: svg-url('<svg fill="#79589F" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M20.2,2H19.5H18C17.1,2 16,3 16,4H8C8,3 6.9,2 6,2H4.5H3.8H2V11C2,12 3,13 4,13H6.2C6.6,15 7.9,16.7 11,17V19.1C8.8,19.3 8,20.4 8,21.7V22H16V21.7C16,20.4 15.2,19.3 13,19.1V17C16.1,16.7 17.4,15 17.8,13H20C21,13 22,12 22,11V2H20.2M4,11V4H6V6V11C5.1,11 4.3,11 4,11M20,11C19.7,11 18.9,11 18,11V6V4H20V11Z" /></svg>');
}

.glheader__menu__item--users {
  background-image: svg-url('<svg fill="#79589F" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/></svg>');
}

.glheader__menu__item--adduser {
  background-image: svg-url('<svg fill="#79589F" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M15 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm-9-2V7H4v3H1v2h3v3h2v-3h3v-2H6zm9 4c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/></svg>');
}

.glheader__menu__item--settings {
  background-image: svg-url('<svg fill="#79589F" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 17v2h6v-2H3zM3 5v2h10V5H3zm10 16v-2h8v-2h-8v-2h-2v6h2zM7 9v2H3v2h4v2h2V9H7zm14 4v-2H11v2h10zm-6-4h2V7h4V5h-4V3h-2v6z"/></svg>');
}

.glheader__menu__item--signout {
  background-image: svg-url('<svg fill="#79589F" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M10.09 15.59L11.5 17l5-5-5-5-1.41 1.41L12.67 11H3v2h9.67l-2.58 2.59zM19 3H5c-1.11 0-2 .9-2 2v4h2V5h14v14H5v-4H3v4c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/></svg>');
}
