.wsdjs-label {
  background-color: #337ab7;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}


.card {
  border-radius: 0;
}

a.panel-heading {
  display: block;
}


/************************************************************************/
/* BASIC CARD */
.card {
  .panel-heading {
    padding: 0;
    position: relative;
  }

  .panel-heading img {
    width: 100%;
    height: auto;
  }

  .panel-footer {
    background-color: inherit;
  }

  .card-heading-details {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-left: 15px;
    color: white;
    &:hover {
      background: rgba(0, 0, 0, 0.5);
    }
  }
}


/************************************************************************/
/* ONMY IMG */

.comments {
  & .comment:hover { background-color: #eee; }
  & .media { position: relative; padding: 5px; }
  & .media-left img { border-radius: 50%;}
  & .action-links {
    margin-right: 5px;
    margin-top: 5px;
  }
}
