.card-top-alone span.position {
    font-size: 68px;
}

.card-top-alone {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 10px;

  .main {
    flex: 3 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    div .h4 {
      text-overflow: ellipsis;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      display: inline-block;
    }

    .action_links {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;

      &:hover {
        border-radius: 5px;
        background-color: #eee;
      }

      & > a {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  .song-title {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 25px);
    display: inline-block;
  }

  .song-artist {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
  }
}


@media (min-width: 768px) {
  .card-top-alone {
    flex-direction: row;

    & .main {
      padding-left: inherit;
    }
  }
}

.card-top-alone {
  flex-direction: column;
  border: 0px;
  background-color: inherit;
  box-shadow: none;

  p {
    margin: 0;
  }
}

.card-top-alone header {
  flex: 0 0 auto;
  flex-direction: row;
  display: flex;

  & .cover {
    width: 150px;
    height: auto;
  }

  & .song-actions {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
}


.card-top-alone header .song-actions a {
  flex: 1 1 auto;
  display: flex;
  align-items: center;

  &.up { color: rgba(0, 180, 0, .1); }
  &.like { color: rgba(0, 0, 180, .1); }
  &.down { color: rgba(180, 0, 0, .1); }

  &.active.up, &.up:hover { color: rgb(0, 180, 0); }
  &.active.like, &.like:hover { color: rgb(0, 0, 180); }
  &.active.down, &.down:hover { color: rgb(180, 0, 0); }
}


.card-top-alone  header .song-cover {
  position: relative;
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(100,100,100,.6);
    display: none;
    color: white;
  }
}

.card-top-alone header .song-cover a,
.card-top-alone header .song-cover:hover a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-top-alone footer {
  & span {
    cursor: pointer;
  }
}
