.card-song {
  .panel-heading {
    padding: 0;
    position: relative;

    &:hover .card-song-play {
      background-color: rgba(180,180,180,1);
      transform: scale(1.1);
    }
  }
  .panel-heading img {
    width: 100%;
    height: auto;
  }
  .panel-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
    flex-wrap: wrap;

    .label {
      cursor: pointer;
    }
  }
  .artist-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .card-song-play {
    background-image: svg-load("../../assets/svg/play.svg");
    background-repeat: no-repeat;
    position: absolute;
    height: 72px;
    width: 72px;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-decoration: none;
    border-radius: 100%;
    background-color: rgba(180,180,180,.5);
  }



  .song-art-overlay {
    position: absolute;
    bottom: 0;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;

    & .label {
      user-select: none;
      cursor: default;
    }
    & span {
      margin-right: 5px;
    }
    & a {
      margin-left: auto;
    }
  }

  .song-opinion {
    white-space: nowrap;
    -webkit-user-select: none;
    background: #fff;
    border-radius: 2px;
    background-clip: padding-box;
    padding: 2px 0 2px 35px;
    height: 29px;
    display: inline-block;
    color: #777;
    line-height: 25px;
  }

  .song-down{
    background-image: svg-load("../../assets/svg/down.svg");
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 2px;
  }
  .song-down.active{
    background-image: svg-load("../../assets/svg/down.svg", fill: #B40000);
    color: rgb(180, 0, 0);
  }
  .song-like{
    background-image: svg-load("../../assets/svg/like.svg");
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 2px;
  }
  .song-like.active{
    background-image: svg-load("../../assets/svg/like.svg", fill: #0000B4);
    color: rgb(0, 0, 180);
  }
  .song-up{
    background-image: svg-load("../../assets/svg/up.svg");
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 2px;
  }
  .song-up.active{
    background-image: svg-load("../../assets/svg/up.svg", fill: #00B400);
    color: rgb(0, 180, 0);
  }

  .song-comment {
    background-image: svg-load("../../assets/svg/comment.svg");
    background-repeat: no-repeat;
    background-position-y: 2px;
    display: block;
    height: 24px;
    width: 24px;
  }

  .song-comment-empty {
    background-image: svg-load("../../assets/svg/comment-empty.svg");
    background-repeat: no-repeat;
    background-position-y: 2px;
    display: block;
    height: 24px;
    width: 24px;
  }


  .song-genre, .song-bpm {
    display: none;
  }
}
