.global-footer {
  background-color: #424242;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;

  a {
    color: #9E9E9E;
    font-weight: bold;

    &:hover {
      color: white;
    }
  }

  p {
    color: white;
  }
}
