
.glheader__menu--navigator {
  position: absolute;
  right: 56px;
  top: 56px;
}
.glheader__menu__item--hotsongs { background-image: svg-url(map-get($svg-icon-map, hotsongs)); }
.glheader__menu__item--tops { background-image: svg-url(map-get($svg-icon-map, tops)); }
.glheader__menu__item--users { background-image: svg-url(map-get($svg-icon-map, users)); }
.glheader__menu__item--adduser { background-image: svg-url(map-get($svg-icon-map, adduser)); }
