.glheader__user .icon-navigator-toggle {
  background: svg-inline(navigator-toggle);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 32px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
}

.glheader__user {
  display: flex;
  margin-left: 5px;
}

.glheader__user__avatar--container {
  position: relative;
  width: 30px;
  height: 30px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.glheader__menu__item--account-details .glheader__user__avatar--container {
  width: 48px;
  height: 48px;
  margin: 0 auto 10px;
  box-shadow: none;
}

.glheader__user__avatar, .glheader__account-details__avatar {
  position: relative;
  width: 30px;
  height: 30px;
  z-index: 2;
}

.glheader__account-details__avatar {
  width: 48px;
  height: 48px;
  box-shadow: none;
}

.glheader__menu {
  width: 240px;
  box-shadow: 0 3px 20px rgba(89, 105, 129, .3), 0 1px 2px rgba(0, 0, 0, .05), 0 0 0 1px rgba(89, 105, 129, .1);
  position: absolute;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  background-clip: content-box;
  z-index: 9991;
  transform: translateY(-4px);
  transition: transform ease 0.1s, opacity ease 0.1s;
}

.glheader__menu--open {
  transform: translateY(0px);
  opacity: 1;
  pointer-events: auto;
}

.glheader__menu-icon {
  display: inline-block;
}

.glheader__menu__item {
  position: relative;
  display: block;
  height: 40px;
  border-bottom: 1px solid #EEF1F6;
  text-decoration: none;
  font-size: 14px;
  line-height: 40px;
  color: #79589F;
  padding: 0 46px;
  background-size: 21px 23px;
  background-repeat: no-repeat;
  background-position: 15px 48%;
}

.glheader__menu__item:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.glheader__menu__item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.glheader__menu__item:hover {
  text-decoration: none;
  background-color: #F7F8FB;
  color: #61467f;
}
