.handle-icon {
  white-space: nowrap;
  background-image: svg-url(map-get($svg-icon-map, handle));
  background-position: center;
  background-repeat: no-repeat;
  min-width: 20px;
}

.drop-row {
  background-image: svg-url(map-get($svg-icon-map, drop));
  background-repeat: no-repeat;
  background-position: center right;
  user-select: none;
}

.delete-button {
  background-image: svg-url(map-get($svg-icon-map, delete));
  background-repeat: no-repeat;
  background-position: center center;
  user-select: none;
  height: 24px;
  width: 24px;
}

.upload-icon {
  background-image: svg-url(map-get($svg-icon-map, upload));
  background-repeat: no-repeat;
  background-position: 15px center;
  user-select: none;
  height: 24px;
  width: 24px;
  padding-left: 35px;
}

#rankuser-songs, #rankuser-top10 {
  & tr {
    user-select: none;
  }
}

// numbers for rank
.table-numbered {
  counter-reset: rowNumber;

  tbody tr:not(.count-excluded) {
    counter-increment: rowNumber;
  }

  tbody tr:not(.count-excluded) td:first-child::before {
      content: counter(rowNumber);
  }
}

/****/
.events-tab.nav-tabs {
  border-bottom: 2px solid #DDD;

  & > li.active > a,
  & > li.active > a:focus
  & > li.active > a:hover {
    border-width: 0;
  }

  & > li > a { border: none; color: #666; }
  & > li.active > a,
  & > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
  & > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
  & > li.active > a::after, & > li:hover > a::after { transform: scale(1); }

}

a.vote {
  &.up { color: rgba(0, 180, 0, .1); }
  &.like { color: rgba(0, 0, 180, .1); }
  &.down { color: rgba(180, 0, 0, .1); }

  &.active.up, &.up:hover { color: rgb(0, 180, 0); }
  &.active.like, &.like:hover { color: rgb(0, 0, 180); }
  &.active.down, &.down:hover { color: rgb(180, 0, 0); }
}

.input-group-btn .btn-group {
    display: flex !important;
}

.dropdown-menu .btn {
  border:0;
  padding: 3px 20px;
  display: block;
  width: 100%;
  border-radius: 0;
  text-align: left;
}
