.handle-icon {
  white-space: nowrap;
  background-image: svg-load("../../assets/svg/handle.svg");
  background-position: center;
  background-repeat: no-repeat;
  min-width: 20px;
}

.drop-row {
  background-image: svg-load("../../assets/svg/drop.svg");
  background-repeat: no-repeat;
  background-position: center right;
  user-select: none;
}

.delete-button {
  background-image: svg-load("../../assets/svg/delete.svg");
  background-repeat: no-repeat;
  background-position: center center;
  user-select: none;
  height: 24px;
  width: 24px;
}

.upload-icon {
  background-image: svg-load("../../assets/svg/upload.svg");
  background-repeat: no-repeat;
  background-position: 15px center;
  user-select: none;
  height: 24px;
  width: 24px;
  padding-left: 35px;
}

#rankuser-songs, #rankuser-top10 {
  & tr {
    user-select: none;
  }
}

/* numbers for rank */
.table-numbered {
  counter-reset: rowNumber;

  tbody tr:not(.count-excluded) {
    counter-increment: rowNumber;
  }

  tbody tr:not(.count-excluded) td:first-child::before {
      content: counter(rowNumber);
  }
}
