.song-header {
  &.jumbotron {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .song-title {
    margin-top: 0;
  } 

  h2.song-artist {
    margin-top: 0;
  }

  .song-title {
    font-size: 1.5em;
    line-height: 30px;
  } 
  .song-artist {
    font-size: 1em;
  }

  .song-play {
    width: 139px;
    height: 139px;
    max-width: 100%;
    display: block;
    background-image: svg-url(map-get($svg-icon-map, play));
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 100%;
    background-color: rgba(150,150,150,.5);
    &:hover {
      background-color: rgba(150,150,150,1);
      transform: scale(1.1);

    }
  }

  .song-comment {
    display: none;
  }

  .song-opinion {
    white-space: nowrap;
    -webkit-user-select: none;
    background: #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    border-radius: 2px;
    border-style: none;
    background-clip: padding-box;
    padding: 2px 10px 2px 35px;
    height: 29px;
    margin-right: 10px;
    display: inline-block;
    color: #777;


    & > span {
      color: inherit;
      padding: 0 8px;
      border-left: 1px solid #ececec;
      line-height: 25px;
    }
  }

  .song-down{
    background-image: svg-url(map-get($svg-icon-map, down));
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 2px;
  }
  .song-down.active{
    background-image: svg-url(map-get($svg-icon-map, down-active));
    color: rgb(180, 0, 0);
    font-weight: bold;
  }

  .song-like{
    background-image: svg-url(map-get($svg-icon-map, like));
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 2px;
  }
  .song-like.active{
    background-image: svg-url(map-get($svg-icon-map, like-active));
    color: rgb(0, 0, 180);
    font-weight: bold;
  }
  .song-up{
    background-image: svg-url(map-get($svg-icon-map, up));
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 2px;
  }
  .song-up.active{
    background-image: svg-url(map-get($svg-icon-map, up-active));
    color: rgb(0, 180, 0);
    font-weight: bold;
  }
}
