<%= opinion_link("down", @conn, @song, @song.opinions, @conn.assigns[:current_user]) %>
<%= opinion_link("like", @conn, @song, @song.opinions, @conn.assigns[:current_user]) %>
<%= opinion_link("up", @conn, @song, @song.opinions, @conn.assigns[:current_user]) %>
