<a class="song-opinion song-down" data-remote="true" data-method="post" href="<%= song_song_opinion_path(@conn, :create, @song, kind: :down) %>">
  <span><%= Enum.count(@song.song_opinions, fn(x) -> x.kind == "down" end) %></span>
</a>
<a class="song-opinion song-like" data-remote="true" data-method="post" href="<%= song_song_opinion_path(@conn, :create, @song, kind: :like) %>">
  <span><%= Enum.count(@song.song_opinions, fn(x) -> x.kind == "like" end) %></span>
</a>
<a class="song-opinion song-up" data-remote="true" data-method="post" href="<%= song_song_opinion_path(@conn, :create, @song, kind: :up) %>">
  <span><%= Enum.count(@song.song_opinions, fn(x) -> x.kind == "up" end) %></span>
</a>
