<div class="comments-container">
<%= form_for @changeset, song_song_comment_path(@conn, :create, @song), fn f -> %>
<div class="modal-body">
  <div class="form-group">
    <%= textarea f, :text, class: "form-control", placeholder: "Comment" %>
    <%= error_tag f, :text %>
  </div>

  <%= submit "Add comment", class: "btn btn-primary" %>
</div>
<% end %>
</div>
