.carousel-control {
    background-color: #fff;
    border: 1px solid #dedee3;
    color: #32323d;
    cursor: pointer;
    padding: 8px;
    text-align: center;
    transition-duration: .15s;
    transition-property: background-color, color, opacity;
}

.carousel-prev {
    @apply rounded-l-full;
}

.carousel-next {
    @apply rounded-r-full;
    margin-left: -1px;
}

.carousel-items {
    transition-duration: .6s;
    transition-property: transform;
    transition-timing-function: ease-in-out;
    display: grid;
    grid-gap: 1rem;
    grid-auto-columns: 8.5rem;
}


@media (min-width: 576px) {
    .carousel-items {
        grid-gap: 2rem;
        grid-auto-columns: 10rem;
    }
}

@media (min-width: 768px) {
    .carousel-items {
        grid-gap: 1rem;
        grid-auto-columns: 9rem;
    }
}

@media (min-width: 992px) {
    .carousel-items {
        grid-gap: 1rem;
        grid-auto-columns: 10rem;
    }
}

@media (min-width: 1200px) {
    .carousel-items {
        grid-gap: 1.5rem;
        grid-auto-columns: 10rem;
    }
}