.container {
    @apply mx-auto px-2  max-w-md;
    max-width: 20rem;
}


main, .glnav {
    max-width: 100%;
}

@media (min-width: 576px) {
    .container {
        @apply mx-auto w-full px-4;
        max-width: 36rem;
    }
}

@media (min-width: 768px) {
    .container {
        @apply px-0;
        max-width: 29rem;
    }

    main, .glnav {
        max-width: calc(100vw - 17rem);
    }
    .hot-songs.container {
        padding: 0;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 43rem;
    }
}
