.tag {
    @apply inline-block h-6 relative rounded-b rounded-t;
    background-color: var(--accent-color);
    color: var(--font-secondary-color);
    line-height: 24px;
    padding: 0 20px 0 23px;
    text-decoration: none;
}
  
.tag::before {
    @apply bg-white absolute;
    content: '';
    height: 6px;
    left: 10px;
    width: 6px;
    top: 9px;
}
  
.tag::after {
    @apply absolute bg-white;
    border-bottom: 12px solid transparent;
    border-left: 10px solid var(--accent-color);
    border-top: 12px solid transparent;
    content: '';
    right: 0;
    top: 0;
}