.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 3px 5px hsla(0, 0%, 0%, 0.125);
}
.btn.disabled,
.btn[disabled] {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}
a.btn.disabled {
  pointer-events: none;
}
.btn-primary {
  color: hsl(0, 0%, 100%);
  background-color: var(--primary-color);
  border-color: hsl(208, 56%, 41%);
}
.btn-primary:focus,
.btn-primary.focus {
  color: hsl(0, 0%, 100%);
  background-color: hsl(208, 57%, 36%);
  border-color: hsl(207, 56%, 16%);
}
.btn-primary:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(208, 57%, 36%);
  border-color: hsl(208, 57%, 29%);
  transform: var(--accent-action);
}
.btn-primary:active,
.btn-primary.active {
  color: hsl(0, 0%, 100%);
  background-color: hsl(208, 57%, 36%);
  border-color: hsl(208, 57%, 29%);
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.btn-primary:active.focus,
.btn-primary.active.focus {
  color: hsl(0, 0%, 100%);
  background-color: hsl(208, 57%, 29%);
  border-color: hsl(207, 56%, 16%);
  transform: var(--accent-action);
}
.btn-primary:active,
.btn-primary.active {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus {
  background-color: hsl(208, 56%, 46%);
  border-color: hsl(208, 56%, 41%);
}

.btn-link {
  color: hsl(208, 56%, 46%);
  font-weight: normal;
  border-radius: 0;
  cursor: pointer;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled] {
  background-color: transparent;
  box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: hsl(208, 56%, 31%);
  text-decoration: underline;
  background-color: transparent;
  transform: var(--accent-action);
}
.btn-link[disabled]:hover,
.btn-link[disabled]:focus {
  color: var(--inactive-color);
  text-decoration: none;
  transform: var(--accent-action);
}
.btn-link.text-muted {
  color: var(--inactive-color);
}

.btn-danger {
  color: hsl(0, 0%, 100%);
  background-color: hsl(2, 64%, 58%);
  border-color: hsl(2, 64%, 53%);
}
.btn-danger:focus,
.btn-danger.focus {
  color: hsl(0, 0%, 100%);
  background-color: hsl(2, 64%, 48%);
  border-color: hsl(2, 65%, 28%);
}
.btn-danger:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(2, 64%, 48%);
  border-color: hsl(2, 65%, 41%);
  transform: var(--accent-action);
}
.btn-danger:active,
.btn-danger.active {
  color: hsl(0, 0%, 100%);
  background-color: hsl(2, 64%, 48%);
  border-color: hsl(2, 65%, 41%);
}
.btn-danger:active:hover,
.btn-danger.active:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.btn-danger:active.focus,
.btn-danger.active.focus {
  color: hsl(0, 0%, 100%);
  background-color: hsl(2, 65%, 41%);
  border-color: hsl(2, 65%, 28%);
}
.btn-danger:active,
.btn-danger.active {
  background-image: none;
}
.btn-danger[disabled]:hover,
.btn-danger[disabled]:focus {
  background-color: hsl(2, 64%, 58%);
  border-color: hsl(2, 64%, 53%);
}
