.btn-link {
  color: hsl(208, 56%, 46%);
  border-radius: 0;
  cursor: pointer;
  border: 0;
  padding: 0;
  text-decoration: underline dotted;
}

.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled] {
  background-color: transparent;
  box-shadow: none;
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}

.btn-link:hover,
.btn-link:focus {
  color: hsl(208, 56%, 31%);
  text-decoration: underline;
  background-color: transparent;
}

.btn-link[disabled]:hover,
.btn-link[disabled]:focus {
  color: var(--inactive-color);
  text-decoration: none;
}

.btn-link.text-muted {
  color: var(--inactive-color);
}

/******************
  .btn-no-style
******************/
.btn-no-style {
  border-radius: 0;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  border-color: transparent;
}

.btn-reverse {
  background-color: hsl(221, 23%, 16%);
  color: #D3D8E0;
}

.btn-reverse:hover,
.btn-reverse:focus {
  color: #D3D8E0;
}