.btn {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  padding: 8px 12px;
  border-radius: 4px;
  user-select: none;
  margin: 4px 0;
  border: 0;
  line-height: 1.5;
  transform: translateY(-2px);
  transform: var(--accent-action);
}

button.reset {
  display: inline-block;
  border: none;
  margin: 0;
  background-color: inherit;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.fab {
  display: none;
  position: fixed;
  right: 16px;
  bottom: 56px;
  border-radius: 50%;
  padding: 4px;
}

@media (max-width: 767px) {
  .fab {
    display: inline-block;
  }
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus,
.btn.focus {
  color: #333333;
  text-decoration: none;
}

.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  box-shadow: inset 0 3px 5px hsla(0, 0%, 0%, 0.125);
}

.btn.disabled,
.btn[disabled] {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}

a.btn.disabled {
  pointer-events: none;
}

.btn-primary {
  color: hsl(0, 0%, 100%);
  background-color: hsl(208, 56%, 46%);
  background-color: var(--primary-color);
}

.btn-primary:focus,
.btn-primary.focus {
  color: hsl(0, 0%, 100%);
  background-color: hsl(208, 57%, 36%);
}

.btn-primary:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(208, 57%, 36%);
}

.btn-primary:active,
.btn-primary.active {
  color: hsl(0, 0%, 100%);
  background-color: hsl(208, 57%, 36%);
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.btn-primary:active.focus,
.btn-primary.active.focus {
  color: hsl(0, 0%, 100%);
  background-color: hsl(208, 57%, 29%);
}

.btn-primary:active,
.btn-primary.active {
  background-image: none;
}

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus {
  background-color: hsl(208, 56%, 46%);
}

.btn-link {
  color: hsl(208, 56%, 46%);
  border-radius: 0;
  cursor: pointer;
  border: 0;
  padding: 0;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled] {
  background-color: transparent;
  box-shadow: none;
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}

.btn-link:hover,
.btn-link:focus {
  color: hsl(208, 56%, 31%);
  text-decoration: underline;
  -webkit-text-decoration: underline;
  background-color: transparent;
}

.btn-link[disabled]:hover,
.btn-link[disabled]:focus {
  color: hsl(0, 0%, 45%);
  color: var(--inactive-color);
  text-decoration: none;
}

.btn-link.text-muted {
  color: hsl(0, 0%, 45%);
  color: var(--inactive-color);
}

.btn-danger {
  color: hsl(0, 0%, 100%);
  background-color: hsl(1, 85%, 45%);
}

.btn-danger:focus,
.btn-danger.focus {
  color: hsl(0, 0%, 100%);
  background-color: hsl(1, 85%, 45%);
}

.btn-danger:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(2, 85%, 45%);
}

.btn-danger:active,
.btn-danger.active {
  color: hsl(0, 0%, 100%);
  background-color: hsl(2, 85%, 45%);
}

.btn-danger:active:hover,
.btn-danger.active:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.btn-danger:active.focus,
.btn-danger.active.focus {
  color: hsl(0, 0%, 100%);
  background-color: hsl(2, 85%, 45%);
}

.btn-danger:active,
.btn-danger.active {
  background-image: none;
}

.btn-reverse {
  background-color: hsl(221, 23%, 16%);
  color: #D3D8E0;
}

.btn-reverse:hover,
.btn-reverse:focus {
  color: #D3D8E0;
}