.notifier-container {
  @apply z-50 fixed p-1 pin-b pin-r;
  width: 21rem;
  max-width: calc(100vw - .25rem);
}

.notifier {
  @apply border-l-4 p-4 m-8 shadow;
  transform: translatey(-100%);
  transition: all .6s cubic-bezier(0.5, -0.5, 0.3, 1.4), opacity .6s ease;
}

.notifier.shown {
  opacity: 1;
  transform: translateX(0);
}

.notifier.info {
  @apply bg-blue-lightest border-blue text-blue-dark;
}

.notifier.success {
  @apply bg-green-lightest border-green text-green-dark;
}

.notifier.warning {
  @apply bg-orange-lightest border-orange text-orange-dark;
}

.notifier.danger {
  @apply bg-red-lightest border-red text-red-dark;
}