.player {
  margin-top: 50px;
  width: 100%;
  height: 75px;
  background: #EEE;
  display: flex;
  align-items: center;
  max-width: 768px;

  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}
.player__art {
  width: 75px;
  height: 75px;
  box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.4);
  flex: 0 0 75px;
}
.player__description {
  overflow: hidden;
  flex: 1 1 auto;
  padding: 5px 5px 5px 15px;
}
.player__description__title {
  color: black;
  font-weight: 100;
  text-decoration: none;
  border-bottom: 1px dashed rgba(155, 155, 155, 0.5);
}
.player__description__title:hover {
  text-shadow: 1px 1px 5px #000000;
}
.player__play {
  flex: 0 0 75px;
  height: 100%;
}
.player__play__vinyl {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-top: -25px;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.35);
  text-align: center;
  cursor: pointer;
  background: white;
}

.player--playing .player__play__vinyl {
  transition: all 0.35s ease;
  background: url("http://i65.tinypic.com/v5wy3b.png");
  background-size: cover;
  animation: spin 1s infinite linear;
}

.player__play__vinyl:hover {
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.5);
}

@keyframes spin {
  0% {
  transform: rotate(0deg);
  }
  100% {
  transform: rotate(360deg);
  }
}