<%= for video <- @videos do %>
  <article class="song-page__video block">
    <%= link to: video.url, target: "_blank" , class: "aspect-ratio-16/9 relative block hover:opacity-50" do %>
      <%= video.title %>
    <% end %>
  </article>
<% end %>
