.song-top-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
  justify-content: space-between;
}

.card-song-top {
  position: relative;
  flex: 0 1 143px;
  margin-bottom: 5px;
}

.song-art-responsive {
  height: auto;
  width: 100%;
}

.song-top__body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(100,100,100,.8);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
  padding: 5px;
}

.song-top__body .small {
  color: white;
}

.song-top__footer__avatar {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}