.song-top-container {
  display: flex;
  flex-wrap: wrap;
}

.card-song-top {
  position: relative;
  flex: 0 0 var(--last-top-column-width);
  padding: 5px;
  text-align: center;
}

.song-art-responsive {
  max-width: 100%;
  height: auto;
  width: 100%
}

.card-song-body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(100,100,100,.8);
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
}
.card-song-body:hover {
  color: white;
}

.card-song-top-position {
  font-size: 68px;
}
