/*
  CUSTOM 
*/
:root {
  --primary-color: hsl(208, 56%, 46%);
  --accent-color: hsl(45, 100%, 51.4%);
  --font-size: 100%;
  --accent-action: -2px;
}


/*
-----------------------------------------------
Typesetting for World Swing Deejays
Author:   Claudio Bernardes
Date:     20 Apr 2017
http://modularscale.com/scale/?px1=18&px2=190&ra1=1.618
1em @ 1:1.2 (minor third)
http://alistapart.com/articles/more-meaningful-typography/
-----------------------------------------------
*/
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: hsl(240, 20%, 98%);
  padding-bottom: 80px;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: var(--font-size);
}

a, a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

img.responsive {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.img-embed {
  padding-bottom: 100%;
  position: relative;
}
.img-embed img {
  position: absolute;
}


.sentinel {
  text-align: center;
  margin: 15px;
}



h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 300;
  line-height: 1.1;
  color: inherit;
}

h1, .h1 { font-size: 2.488em; }
h2, .h2 { font-size: 2.074em; }
h3, .h3 { font-size: 1.728em; }
h4, .h4 { font-size: 1.44em; }
h5, .h5 { font-size: 1.2em; }
h6, .h6 { font-size: 1em; }

small, .small {
  font-weight: 300;
  line-height: 1;
  color: #777777;
  font-size: 60%;
}

h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 small, .h1 small,
h2 small, .h2 small,
h3 small, .h3 small,
h1 .small, .h1 .small,
h2 .small, .h2 .small,
h3 .small, .h3 .small {
  font-size: 65%;
}

h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

p { 
  margin: 0 0 10px; 
  overflow-wrap: break-word;
  word-wrap: break-word;
}
dd {
  margin-bottom: .5rem;
  margin-left: 0;
}
dt {
  font-weight: bold;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
}

.text-capitalized {
  text-transform: capitalize;
}
.text-center {
  text-align: center;
}
.text-muted {
  color: #777777;
}
.text-danger {
  color: #dc3545 !important;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
.img-circle {
  border-radius: 50%;
}

textarea {
  resize: vertical;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

time {
  text-transform: capitalize;
  cursor: help;
}