main > header {
  background-color: hsl(221, 23%, 16%);
  padding-bottom: 24px;
  margin-bottom: 24px;
}

main > header h1 {
  color: white;
}
main > header h2 {
  color: white;
}

/****************************
  global navigation
****************************/
.glnav {
  align-items: center;
  user-select: none;
  background-color: #1F2532;
  position: sticky;
  top: 0;
  z-index: 2000;
}
.glnav:before {
  content: "";

  position: absolute;
  width: 100%;
  top: 0;  border-top: 2px solid var(--accent-color);
}

.glnav a:hover {
  text-decoration: underline;
  transform: var(--accent-action);
}
.glnav .container {
  display: flex;
  align-items: flex-end;
}
.glnav a.home {
  height: 48px;
}

.glnav__user {
  width: 48px;
  height: 48px;
  margin-left: auto;
}

.glnav__user__avatar {
  position: relative;
  width: 40px;
  height: 40px;
  margin-top: 4px;
  vertical-align: top;
  border-radius: 50%;
}

.glnav__menu {
  padding: 0 12px;
  color: #596377;
  transition: color .6s cubic-bezier(.25, .8, .25, 1);
}
.glnav__menu:hover {
  color: #D3D8E0;
}


.logo-small {
  width: 40px;
  height: 48px;
}
.logo-wide {
  height: 48px;
  width: 120px;
  display: none;
}
.logo:hover {
  fill: #D3D8E0;
  transition: fill .6s cubic-bezier(.25, .8, .25, 1);
}
.logo:not(:hover) {
  fill: #455A64;
  transition: fill .6s cubic-bezier(.25, .8, .25, 1);  
}

@media (min-width: 768px) {
  .logo-small {
    display: none;
  }
  .logo-wide {
    display: inline;
  }
}
