/******
******/
.grid {
  display: grid;
}

.hot-songs {
  display: grid;
  grid-template-columns: calc(50% - .25rem) calc(50% - .25rem);
  grid-row-gap: .5rem;
  grid-column-gap: .5rem;
}

/********************/
@media (min-width: 768px) {
  .hot-songs {
    grid-template-columns: repeat(auto-fit, 216px);
    grid-row-gap: 1rem;
    grid-column-gap: .5rem;
    /* need a fix */
  }
}
