/*
-----------------------------------------------
Typesetting for World Swing Deejays
Author:   Claudio Bernardes
Date:     20 Apr 2017
http://modularscale.com/scale/?px1=18&px2=190&ra1=1.618
1em @ 1:1.2 (minor third)
http://alistapart.com/articles/more-meaningful-typography/
-----------------------------------------------
*/

/*
  http://inlehmansterms.net/2014/06/09/groove-to-a-vertical-rhythm/
  https://www.gridlover.net/try
*/

body {
  -webkit-font-smoothing: antialiased;
  @apply text-base text-black;
  line-height: 1.5;
}

h1, h2, h3, .h1, .h2, .h3 {
  font-family: inherit;
  padding: 0;
  margin: 0;
}

h1, .h1 {
  font-size: 2.375rem;
  line-height: 3rem;
  padding-top: 1.5rem;
  margin-bottom: 3rem;
  font-weight: bold;
}

.h1 {
  padding-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

h2, .h2 {
  font-size: 1.75rem;
  line-height: 3rem;
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-style: italic;
}

.h2 {
  padding-top: 0;
  margin-bottom: 0;
  font-style: normal;
}

h3, .h3 {
  font-size: 1.3125rem;
  line-height: 1.5rem;
  padding-top: 1.5rem;
  margin-bottom: 0rem;
  font-weight: bold;
}

.h3 {
  padding-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

a {
  @apply text-black;
}

.page-header-sticky {
  @apply sticky bg-white z-30 pin-t;
}

p {
  margin: 0 0 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin-top: 1rem;
}

dd {
  margin-bottom: 1rem;
  margin-left: 0;
}

dt, .text-bold {
  font-weight: bold;
}

.text-ligther {
  font-weight: lighter;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: inline-block;
}

.text-danger {
  color: #dc3545 !important;
}

textarea {
  resize: vertical;
}

time {
  text-transform: capitalize;
  cursor: help;
}

.aboutme a {
  @apply underline;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}