New songs suggested.

DJs have posted in our new app World Swing DJs.
Check their suggestions and give your opinion !

To login to the site, just copy paste this link in your browser: https://worldswingdjs.com .

