<table class="table">
    <thead>
    <tr><th>Name</th><th>email</th><th>Requested when</th></tr>
    </thead>
    <tbody>
    <%= for invitation <- @invitations do %>
    <tr>
    <td><%= invitation.name %></td>
    <td><%= invitation.email %></td>
    <td><%= Timex.format!(Timex.to_datetime(invitation.inserted_at), "%d %b, %k:%M", :strftime) %></td>
    </tr>
    <% end %>
    </tbody>
</table>
