<section id="invitations-section" class="container">
  <%= render "_invitations.html", conn: @conn, invitations: @invitations %>
</section>
<section id="users-section" class="container">
  <%= render "_users.html", conn: @conn, users: @users %>
</section>
