<%= if @user.parameter do %>
<div class="user__parameter">
  <h1 class="page-header">Piwik <small>opt-out</small></h1>
  <p>Track the user.</p>
  <footer>
    <%= @user.parameter.piwik %>
  </footer>
</div>
<% end %>
  