<header>
  <div class="container">
    <h1><%= gettext "Members" %> </h1>
  </div>
</header>

<section id="users-section" class="container">

<span class="h2">Users: <%= Enum.count(@users) %></span>
<table class="table">
  <thead class="sticked">
    <tr><th>Avatar</th><th>User</th><th>Options</th></tr>
  </thead>
  <tbody>
  <%= for user <- Enum.sort(@users, &(&1.name <= &2.name)) do %>
    <%= render "_user.html", user: user, conn: @conn %>
  <% end %>
  </tbody>
</table>

</section>
