<section id="users-section" class="container">

<table class="table">
  <tbody>
  <%= for user <- Enum.sort(@users, &(&1.name <= &2.name)) do %>
    <%= render "_user.html", user: user, conn: @conn %>
  <% end %>
  </tbody>
</table>

</section>
