<%= render "_header.html", conn: @conn, current_user: @current_user %>

<main class="container">
  <h1>Listing Users</h1>

  <table class="table">
  <%= for user <- @users do %>
  <tr>
    <td><img src="<%= avatar_url(user.avatar) %>" width="30px" height="30px"/><b><%= user.email %></b> (<%= user.id %>)</td>
    <td><%= link "View", to: user_path(@conn, :show, user.id) %></td>
  </tr>
  <% end %>
  </table>
</main>
